<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="NequeoServerGroup">
            <section name="NequeoRemoteHosts" type="Nequeo.Net.Configuration.RemoteHosts, Nequeo.Net, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=24770b6a676fdab1" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
    </configSections>

    <NequeoServerGroup>
        <NequeoRemoteHosts>
            <Host>
                <add name="OcspClient_RemoteHost" host="www.nequeo.net.au" port="80"/>
                <add name="OcspClient_RemoteHostSsl" host="www.nequeo.net.au" port="443"/>
            </Host>
        </NequeoRemoteHosts>
    </NequeoServerGroup>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
