/* Web20 theme*/

.t-widget
{
	border-color: #4e75b3;
	/*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
	background-color: #fff;
}

/* .small .t-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.t-header,
.t-grid-header
{
	border-color: #4a70ae;
	background: #7fa5d7 url('Web20/sprite.png') repeat-x 0 -352px;
}

.t-icon
{
	background: transparent url('Web20/sprite.png') no-repeat;
}

.t-expand { background-position: 0 -160px; }
.t-collapse { background-position: 0 -176px; }

.t-plus, .t-plus-disabled { background-position: 0 -256px; }
.t-minus, .t-minus-disabled { background-position: -16px -256px; }

.t-arrow-up { background-position: -16px -160px; }
.t-arrow-down { background-position: -16px -176px; }

.t-header .t-arrow-up,
.t-state-hover .t-arrow-up { background-position: -48px -160px; }
.t-header .t-arrow-down,
.t-state-hover .t-arrow-down { background-position: -48px -176px; }

.t-state-disabled .t-arrow-up { background-position: -32px -160px; }
.t-state-disabled .t-arrow-down { background-position: -32px -176px; }

.t-numerictextbox .t-arrow-up { background-position: -16px -162px; }
.t-numerictextbox .t-arrow-down { background-position: -16px -178px; }

.t-arrow-up-small { background-position: 0 -304px; }
.t-arrow-down-small { background-position: -16px -304px; }

.t-arrow-first { background-position: 0 -192px; }
.t-arrow-prev { background-position: -16px -192px; }
.t-arrow-next { background-position: -32px -192px; }
.t-arrow-last { background-position: -48px -192px; }

.t-header .t-arrow-first,
.t-state-hover .t-arrow-first { background-position: 0 -224px; }
.t-header .t-arrow-prev,
.t-state-hover .t-arrow-prev { background-position: -16px -224px; }
.t-header .t-arrow-next,
.t-state-hover .t-arrow-next { background-position: -32px -224px; }
.t-header .t-arrow-last,
.t-state-hover .t-arrow-last { background-position: -48px -224px; }

.t-state-disabled .t-arrow-first { background-position: 0 -208px; }
.t-state-disabled .t-arrow-prev { background-position: -16px -208px; }
.t-state-disabled .t-arrow-next { background-position: -32px -208px; }
.t-state-disabled .t-arrow-last { background-position: -48px -208px; }

.t-filter { background-position: 0 -240px; }
.t-clear-filter { background-position: -16px -240px; }

.t-refresh { background-position: -32px -240px; }
.t-icon-calendar { background-position: -48px -240px; }

.t-delete { background-position: 0 -288px; }

.t-insert-top { background-position: 0 -320px; }
.t-insert-middle { background-position: -16px -320px; }
.t-insert-bottom { background-position: -32px -320px; }
.t-add { background-position: -48px -320px; }
.t-denied { background-position: -64px -320px; }

.t-loading,
.t-widget .t-loading { background: transparent url('Web20/loading.gif') no-repeat 0 0; }

.t-widget,
.t-link
{
	color: #333;
}

.t-header,
.t-header .t-link
{
	color: #fff;
}

.t-header .t-group,
.t-group .t-link
{
	color: #333;
}

.t-group,
.t-content
{
	border-color: #4a70ae;
	background-color: #fff;
}

.t-alt
{
	background-color: #fff;
}

.t-state-default
{
	border-color: #4a70ae;
}

.t-active-filter
{
    background-color: #87a6d4;
}

.t-state-hover
{
	background-color: #a4c2f1;
	border-color: #4a70ae;
}

.t-state-hover,
.t-state-hover .t-link,
.t-header .t-state-hover,
.t-group .t-state-hover
{
	color: #333;
}

.t-state-active
{
	background-color: #fff;
	border-color: #4a70ae;
}

.t-state-active,
.t-state-active .t-link
{
	color: #333;
}

.t-state-active .t-header
{
	color: #fff;
}

.t-state-active .t-state-hover
{
	color: #333;
}

.t-state-selected
{
	background-color: #d4ffbc;
}

.t-state-error
{
	border-style: ridge;
	border-color: #f00;
	background-color: #ffc0cb;
}

.t-state-disabled,
.t-state-disabled .t-link
{
	color: #bbb;
}

.t-grid-toolbar,
.t-grouping-header,
.t-widget .t-footer,
.t-grid-footer,
.t-widget .t-status
{
	border-color: #829cbf;
	background-color: #e3eeff;
}

.t-button
{
	background: #e8e8e8 url('Web20/sprite.png') repeat-x 0 -96px;
	color: #fff;
}

.t-button-hover
{
	background-position: 0 -128px;
	color: #0f3789;
}

.t-panelbar .t-link
{
	border-color: #333;
}

.t-tabstrip li.t-state-active
{
	border-bottom-color: #fff;
}

.t-grid td,
.t-grid .t-last
{
	border-bottom: 1px solid #cfd9e7;
	border-right: 1px solid #829cbf;
}

.t-grid .t-grouping-row
{
	background: #fff url('Web20/sprite.png') repeat-x 0 -48px;
}

.t-grouping-header .t-group-indicator
{
    color: #333;
    border-color: #ccc;
}

.t-grouping-dropclue
{
    background: url('Web20/sprite.png') no-repeat -48px -288px;
}

.t-grouping-row .t-groupcell,
.t-grouping-row p
{
	background: #fff;
}

.t-treeview .t-drop-clue
{
    background-image: url('Web20/sprite.png');
    background-position: 0 -342px;
}

.t-treeview .t-state-selected
{
    border-color: #85c843;
}

.t-panelbar .t-state-hover
{
	background-image: none;
}

.t-calendar th
{
    background-color: #ecf4ff;
    border-color: #bcd2f1;
}

.t-other-month .t-link
{
    color: #777;
}

.t-treeview-lines .t-top,
.t-treeview-lines .t-mid,
.t-treeview-lines .t-bot
{
    background-image: url('Web20/treeview-nodes.png');
    background-repeat: no-repeat;
    margin-left: -16px;
    padding-left: 16px;
}

.t-treeview-lines .t-item { background-image: url('Web20/treeview-line.png'); }
.t-treeview-lines .t-last { background-image: none; }

.t-drag-clue
{
    color: #fff;
}