/* Windows7 theme*/

.t-widget
{
	border-color: #a5b3c5;
	/*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
	background-color: #fcfcfc;
}

/* .small .t-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.t-header,
.t-grid-header
{
	border-color: #a5b3c5;
	background: #f1f5fb;
}

.t-icon
{
	background: transparent url('Windows7/sprite.png') no-repeat;
}

.t-expand { background-position: 0 -160px; }
.t-collapse { background-position: 0 -176px; }

.t-plus, .t-plus-disabled { background-position: 0 -256px; }
.t-minus, .t-minus-disabled { background-position: -16px -256px; }

.t-arrow-up { background-position: -16px -160px; }
.t-arrow-down { background-position: -16px -176px; }

.t-header .t-arrow-up,
.t-state-hover .t-arrow-up { background-position: -48px -160px; }
.t-header .t-arrow-down,
.t-state-hover .t-arrow-down { background-position: -48px -176px; }

.t-state-disabled .t-arrow-up { background-position: -32px -160px; }
.t-state-disabled .t-arrow-down { background-position: -32px -176px; }

.t-numerictextbox .t-arrow-up { background-position: -16px -162px; }
.t-numerictextbox .t-arrow-down { background-position: -16px -178px; }

.t-arrow-up-small { background-position: 0 -304px; }
.t-arrow-down-small { background-position: -16px -304px; }

.t-arrow-first { background-position: 0 -192px; }
.t-arrow-prev { background-position: -16px -192px; }
.t-arrow-next { background-position: -32px -192px; }
.t-arrow-last { background-position: -48px -192px; }

.t-header .t-arrow-first,
.t-state-hover .t-arrow-first { background-position: 0 -224px; }
.t-header .t-arrow-prev,
.t-state-hover .t-arrow-prev { background-position: -16px -224px; }
.t-header .t-arrow-next,
.t-state-hover .t-arrow-next { background-position: -32px -224px; }
.t-header .t-arrow-last,
.t-state-hover .t-arrow-last { background-position: -48px -224px; }

.t-state-disabled .t-arrow-first { background-position: 0 -208px; }
.t-state-disabled .t-arrow-prev { background-position: -16px -208px; }
.t-state-disabled .t-arrow-next { background-position: -32px -208px; }
.t-state-disabled .t-arrow-last { background-position: -48px -208px; }

.t-filter { background-position: 0 -240px; }
.t-clear-filter { background-position: -16px -240px; }

.t-refresh { background-position: -32px -240px; }
.t-icon-calendar { background-position: -48px -240px; }

.t-delete { background-position: 0 -288px; }

.t-insert-top { background-position: 0 -320px; }
.t-insert-middle { background-position: -16px -320px; }
.t-insert-bottom { background-position: -32px -320px; }
.t-add { background-position: -48px -320px; }
.t-denied { background-position: -64px -320px; }

.t-loading,
.t-widget .t-loading { background: transparent url('Windows7/loading.gif') no-repeat 0 0; }

.t-widget,
.t-link
{
	color: #000;
}

.t-header,
.t-header .t-link
{
	color: #4c607a;
}

.t-header .t-group,
.t-group .t-link
{
	color: #333;
}

.t-group,
.t-content
{
	border-color: #a5b3c5;
	background-color: #fcfcfc;
}

.t-alt
{
	background-color: #ebeff3;
}

.t-state-default
{
	border-color: #a5b3c5;
}

.t-active-filter
{
    background-color: #c3dcfa;
}

.t-state-hover
{
	background-color: #d1e4fc;
	border-color: #8daed5;
}

.t-state-hover,
.t-state-hover .t-link,
.t-header .t-state-hover,
.t-group .t-state-hover
{
	color: #000;
}

.t-state-active
{
	background-color: #fff;
	border-color: #426682;
}

.t-state-selected
{
	background-color: #deecfe;
}

.t-state-error
{
	border-style: ridge;
	border-color: #f00;
	background-color: #ffc0cb;
}

.t-state-disabled,
.t-state-disabled .t-link
{
	color: #888;
}

.t-grid-toolbar,
.t-grouping-header,
.t-widget .t-footer,
.t-grid-footer,
.t-widget .t-status
{
	border-color: #aec5d1;
	background-color: #f1f5fb;
}

.t-button
{
	background: #e8e8e8 url('Windows7/sprite.png') repeat-x 0 -96px;
	color: #0d202b;
	border-color: #c2cedb;
}

.t-button-hover
{
	background-position: 0 -128px;
	color: #0e3d4f;
	border-color: #9bc9ff;
}

.t-panelbar .t-link
{
	border-color: #a5b3c5;
}

.t-tabstrip .t-item
{
	border-bottom-color: #426682;
}

.t-tabstrip li.t-state-active
{
	border-bottom-color: #fff;
}

.t-grid td
{
	border-right: 1px solid #dae2e8;
}

.t-grid .t-grouping-row
{
	background: #fff url('Windows7/sprite.png') repeat-x 0 -48px;
}

.t-grouping-header .t-group-indicator
{
    color: #333;
    border-color: #ccc;
}

.t-grouping-dropclue
{
    background: url('Windows7/sprite.png') no-repeat -48px -288px;
}

.t-grouping-row .t-groupcell,
.t-grouping-row p
{
	background: #fff;
}

.t-treeview .t-drop-clue
{
    background-image: url('Windows7/sprite.png');
    background-position: 0 -342px;
}

.t-treeview .t-state-selected
{
    border-color: #8fb0d6;
}

.t-panelbar .t-state-hover
{
	background-image: none;
}

.t-calendar th
{
    border-color: #d4dbe5;
}

.t-other-month .t-link
{
    color: #a7a7a7;
}