<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nequeo.Net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="NequeoSecurityGroup">
            <section name="NequeoSecurityHost" type="Nequeo.Security.Configuration.SecurityHost, Nequeo.Security, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
        <sectionGroup name="NequeoServerGroup">
            <section name="NequeoServerHosts" type="Nequeo.Net.Configuration.ServerHosts, Nequeo.Net, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=24770b6a676fdab1" allowLocation="true" allowDefinition="Everywhere"/>
            <section name="NequeoRemoteHosts" type="Nequeo.Net.Configuration.RemoteHosts, Nequeo.Net, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=24770b6a676fdab1" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
    </configSections>
    
    <NequeoSecurityGroup>
        <NequeoSecurityHost>
            <ServerCredentials useServerCertificate="true" useCertificateStore="false">
                <CertificatePath path="C:\Store\certificate.p12" password="password"/>
                <CertificateStore findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            </ServerCredentials>
        </NequeoSecurityHost>
    </NequeoSecurityGroup>

    <NequeoServerGroup>
        <NequeoServerHosts>
            <Host>
                <add name="LoadBalance_SocketProviderV4" port="8804" clientTimeOut="30" maxNumClients="50000" individualControl="false"/>
                <add name="LoadBalance_SocketProviderV6" port="8804" clientTimeOut="30" maxNumClients="50000" individualControl="false"/>
                <add name="LoadBalance_SocketProviderV4Ssl" port="8805" clientTimeOut="30" maxNumClients="50000" individualControl="false"/>
                <add name="LoadBalance_SocketProviderV6Ssl" port="8805" clientTimeOut="30" maxNumClients="50000" individualControl="false"/>
                <add name="DownloadManagerServer_SocketProviderV4" port="8736" clientTimeOut="50" maxNumClients="2147483647" individualControl="false"/>
                <add name="DownloadManagerServer_SocketProviderV6" port="8736" clientTimeOut="50" maxNumClients="2147483647" individualControl="false"/>
                <add name="DownloadManagerServer_SocketProviderV4Ssl" port="8737" clientTimeOut="50" maxNumClients="2147483647" individualControl="false"/>
                <add name="DownloadManagerServer_SocketProviderV6Ssl" port="8737" clientTimeOut="50" maxNumClients="2147483647" individualControl="false"/>
                <add name="HttpDynamicServerSingle_SocketProviderV4" port="8806" clientTimeOut="30" maxNumClients="10000" individualControl="false"/>
                <add name="HttpDynamicServerSingle_SocketProviderV6" port="8806" clientTimeOut="30" maxNumClients="10000" individualControl="false"/>
                <add name="HttpDynamicServerSingle_SocketProviderV4Ssl" port="8807" clientTimeOut="30" maxNumClients="10000" individualControl="false"/>
                <add name="HttpDynamicServerSingle_SocketProviderV6Ssl" port="8807" clientTimeOut="30" maxNumClients="10000" individualControl="false"/>
                <add name="ProxySslServerSingle_SocketProviderV4Ssl" port="443" clientTimeOut="30" maxNumClients="10000" individualControl="false"/>
                <add name="ProxySslServerSingle_SocketProviderV6Ssl" port="443" clientTimeOut="30" maxNumClients="10000" individualControl="false"/>
                <add name="ProxyTlsServerSingle_SocketProviderV4Ssl" port="443" clientTimeOut="30" maxNumClients="10000" individualControl="false"/>
                <add name="ProxyTlsServerSingle_SocketProviderV6Ssl" port="443" clientTimeOut="30" maxNumClients="10000" individualControl="false"/>
                <add name="SyslogServerSingle_SocketProviderV4" port="514" clientTimeOut="30" maxNumClients="10000" individualControl="false"/>
                <add name="SyslogServerSingle_SocketProviderV6" port="514" clientTimeOut="30" maxNumClients="10000" individualControl="false"/>
            </Host>
        </NequeoServerHosts>
        <NequeoRemoteHosts>
            <Host>
                <add name="SslServerSingle_RemoteHost" host="hostname" port="443"/>
                <add name="TlsServerSingle_RemoteHost" host="hostname" port="443"/>
            </Host>
        </NequeoRemoteHosts>
    </NequeoServerGroup>
    
    <applicationSettings>
        <Nequeo.Net.Properties.Settings>
            <setting name="HttpStaticSingleServerListeningPort" serializeAs="String">
                <value>8800</value>
            </setting>
            <setting name="HttpStaticServerListeningPort" serializeAs="String">
                <value>8801</value>
            </setting>
            <setting name="HttpStaticSingleServerListeningPortSecure" serializeAs="String">
                <value>8802</value>
            </setting>
            <setting name="HttpStaticServerListeningPortSecure" serializeAs="String">
                <value>8803</value>
            </setting>
            <setting name="HttpStaticMaxCacheSize" serializeAs="String">
                <value>1000000000</value>
            </setting>
            <setting name="LoadBalanceServerXmlPath" serializeAs="String">
                <value>C:\Temp\Data\LoadBalanceServer.xml</value>
            </setting>
        </Nequeo.Net.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
