<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="HttpServerGroup">
            <section name="HttpServerDefaultHost" type="Nequeo.Net.Configuration.HttpServerDefaultHost, Nequeo.Net.Http.Server, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=cada96696816d637" allowLocation="true" allowDefinition="Everywhere"/>

            <section name="HttpServerHosts" type="Nequeo.Net.Configuration.HttpServerHosts, Nequeo.Net.Http.Server, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=cada96696816d637" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>

        <sectionGroup name="CompositeServerGroup">
            <section name="CompositeServerServices" type="Nequeo.Composite.Configuration.CompositeServerServices, Nequeo.Composite, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=6ee3a0564e92e352" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>

        <sectionGroup name="NequeoSecurityGroup">
            <section name="NequeoSecurityHost" type="Nequeo.Security.Configuration.SecurityHost, Nequeo.Security, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>

        <sectionGroup name="NequeoServerGroup">
            <section name="NequeoServerHosts" type="Nequeo.Net.Configuration.ServerHosts, Nequeo.Net, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=24770b6a676fdab1" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
        
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nequeo.Net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>

    <NequeoSecurityGroup>
        <NequeoSecurityHost>
            <ServerCredentials useServerCertificate="false" useCertificateStore="false">
                <CertificatePath path="C:\Temp\CompositeSslNetAu.p12" password="password"/>
                <CertificateStore findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            </ServerCredentials>
        </NequeoSecurityHost>
    </NequeoSecurityGroup>

    <!-- Configuration section settings area. clientTimeOut is in minutes. -->
    <HttpServerGroup>
        <HttpServerDefaultHost hostName="HttpListenServer">
            <Host name="HttpListenServer" host="nequeo" port="80" maxNumClients="30" clientTimeOut="30"/>
            <ServerCredentials useCertificateStore="false">
                <CertificatePath path="C:\Temp\HttpSslNetAu.p12" password="password"/>
                <CertificateStore findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            </ServerCredentials>
        </HttpServerDefaultHost>
        <HttpServerHosts>
            <Host>
                <add name="HttpHtmlBasicProvider" host="htmlbasicprovider" port="8882" path="http://nequeompc:8882/htmlbasic/" authentication="None" maxNumClients="300" clientTimeOut="300"/>
                <add name="HttpHtmlProvider" host="htmlprovider" port="8883" path="http://nequeompc:8883/htmlprovider/" authentication="None" maxNumClients="300" clientTimeOut="300"/>
                <add name="HttpHtmlProviderSecure" host="htmlprovider" port="8884" path="https://wcf.nequeo.net.au:8884/htmlprovider/" authentication="None" maxNumClients="300" clientTimeOut="300"/>
                <add name="HttpXmlFeed" host="xmlprovider" port="8885" path="http://nequeompc:8885/xmlprovider/" authentication="None" maxNumClients="300" clientTimeOut="300"/>
                <add name="HttpXmlFeedSecure" host="xmlprovider" port="8886" path="https://wcf.nequeo.net.au:8886/xmlprovider/" authentication="None" maxNumClients="300" clientTimeOut="300"/>
                <add name="HttpHtmlAuthProviderSecure" host="htmlauthprovider" port="8887" path="https://wcf.nequeo.net.au:8887/htmlprovider/" authentication="Basic" maxNumClients="300" clientTimeOut="300"/>
                <add name="HttpXmlAuthProviderSecure" host="xmlauthprovider" port="8888" path="https://wcf.nequeo.net.au:8888/xmlprovider/" authentication="Basic" maxNumClients="300" clientTimeOut="300"/>
            </Host>
        </HttpServerHosts>
    </HttpServerGroup>

    <!-- Configuration section settings area. clientTimeOut is in minutes. -->
    <NequeoServerGroup>
        <NequeoServerHosts>
            <Host>
                <add name="SocketProviderV4" port="8880" clientTimeOut="10" maxNumClients="2147483647" individualControl="false"/>
                <add name="SocketProviderV6" port="8880" clientTimeOut="10" maxNumClients="2147483647" individualControl="false"/>
                <add name="SocketProviderV4Ssl" port="8879" clientTimeOut="10" maxNumClients="2147483647" individualControl="false"/>
                <add name="SocketProviderV6Ssl" port="8879" clientTimeOut="10" maxNumClients="2147483647" individualControl="false"/>
            </Host>
        </NequeoServerHosts>
    </NequeoServerGroup>
    
    <CompositeServerGroup>
        <CompositeServerServices>
            <GeneralPath name="topLevelCompositePath" path="C:\Composite\"/>
            <Service>
                <add name="SystemInformation" path="C:\SystemInformation\"/>
                <add name="SystemDetails" path="C:\SystemDetails\"/>
            </Service>
        </CompositeServerServices>
    </CompositeServerGroup>
    
    <applicationSettings>
        <Nequeo.Net.Properties.Settings>
            <setting name="BaseDirectory" serializeAs="String">
                <value>C:\Temp\</value>
            </setting>
            <setting name="EventApplicationName" serializeAs="String">
                <value>Nequeo Http Server</value>
            </setting>
            <setting name="MimeTypeXmlPath" serializeAs="String">
                <value>C:\Temp\Data\MimeType.xml</value>
            </setting>
        </Nequeo.Net.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
