<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="FileTransferServerGroup">
            <section
              name="FileTransferServerDefaultHost"
              type="Nequeo.Net.FileTransfer.Configuration.FileTransferServerDefaultHost, Nequeo.Net.FileTransfer.Server, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=1cdab54d8dd80194"
              allowLocation="true"
              allowDefinition="Everywhere"/>

            <section name="FileTransferServerHosts"
              type="Nequeo.Net.FileTransfer.Configuration.FileTransferServerHosts, Nequeo.Net.FileTransfer.Server, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=1cdab54d8dd80194"
              allowLocation="true"
              allowDefinition="Everywhere"/>
        </sectionGroup>

        <sectionGroup name="FileTransferServerDirectoryGroup">
            <section
              name="FileTransferServerDefaultPath"
              type="Nequeo.Net.FileTransfer.Configuration.FileTransferServerDefaultPath, Nequeo.Net.FileTransfer.Server, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=1cdab54d8dd80194"
              allowLocation="true"
              allowDefinition="Everywhere"/>

            <section name="FileTransferServerPaths"
              type="Nequeo.Net.FileTransfer.Configuration.FileTransferServerPaths, Nequeo.Net.FileTransfer.Server, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=1cdab54d8dd80194"
              allowLocation="true"
              allowDefinition="Everywhere"/>
        </sectionGroup>

        <sectionGroup name="NequeoReflectionGroup">
            <section name="NequeoReflections"
                     type="Nequeo.Configuration.ReflectionsProvider, Nequeo.Reflection, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=3b355968680c6ed8"
                     allowLocation="true"
                     allowDefinition="Everywhere"/>
        </sectionGroup>

        <sectionGroup name="CompositeGroup">
            <section name="CompositeServices"
              type="Nequeo.Composite.Configuration.CompositeServices, Nequeo.Composite, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=6ee3a0564e92e352"
              allowLocation="true"
              allowDefinition="Everywhere"/>
        </sectionGroup>

        <sectionGroup name="NequeoSecurityGroup">
            <section name="NequeoSecurityPassword"
                     type="Nequeo.Security.Configuration.SecurityPassword, Nequeo.Security, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca"
                     allowLocation="true"
                     allowDefinition="Everywhere"/>

        </sectionGroup>

        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nequeo.Net.FileTransfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <connectionStrings>
        <add name="Nequeo.DataAccess.ApplicationLogin.Properties.Settings.ApplicationLoginDatabaseConnection"
             connectionString="Data Source=development\sqlexpress;Initial Catalog=ApplicationLogin;Integrated Security=True"
             providerName="System.Data.SqlClient" />
        <add name="ApplicationLoginEntities"
             connectionString="metadata=res://*/Edm.Common.csdl|res://*/Edm.Common.ssdl|res://*/Edm.Common.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=development\sqlexpress;Initial Catalog=ApplicationLogin;Integrated Security=True;MultipleActiveResultSets=True&quot;"
             providerName="System.Data.EntityClient" />
    </connectionStrings>

    <!-- Configuration section settings area. clientTimeOut is in minutes. -->
    <FileTransferServerGroup>
        <FileTransferServerDefaultHost hostName="localhost">
            <Host name="localhost" host="localhost" port="2766" maxNumClients="500" clientTimeOut="30"/>
            <ServerCredentials useCertificateStore="false">
                <CertificatePath path="C:\Temp\FileTransferSslNetAu.p12" password="password" />
                <CertificateStore findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
            </ServerCredentials>
        </FileTransferServerDefaultHost>
        <FileTransferServerHosts>
            <Host>
                <add name="NequeoNet1" host="nequeo.net.au" port="2766" maxNumClients="500" clientTimeOut="30"/>
                <add name="NequeoNet2" host="nequeo.net.au" port="2769" maxNumClients="500" clientTimeOut="30"/>
                <add name="NequeoNet3" host="nequeo.net.au" port="2767" maxNumClients="500" clientTimeOut="30"/>
                <add name="NequeoNet4" host="nequeo.net.au" port="2768" maxNumClients="500" clientTimeOut="30"/>
                <add name="SslNequeoNet3" host="nequeo.net.au" port="2866" maxNumClients="500" clientTimeOut="30"/>
                <add name="SslNequeoNet4" host="nequeo.net.au" port="2867" maxNumClients="500" clientTimeOut="30"/>
                <add name="SslNequeoNet5" host="nequeo.net.au" port="2868" maxNumClients="500" clientTimeOut="30"/>
                <add name="SslNequeoNet6" host="nequeo.net.au" port="2865" maxNumClients="500" clientTimeOut="30"/>
            </Host>
        </FileTransferServerHosts>
    </FileTransferServerGroup>

    <!-- Configuration section settings area. -->
    <FileTransferServerDirectoryGroup>
        <FileTransferServerDefaultPath directoryName="RootDirectoryDefault">
            <Directory userName="anonymous" domian="" rootDirectory="C:\Temp\" authenticationType="Anonymous"/>
        </FileTransferServerDefaultPath>
        <FileTransferServerPaths>
            <Directory>
                <add userName="administrator" domian="nequeo" rootDirectory="C:\Temp\" authenticationType="Integrated" />
                <add userName="development" domian="nequeo" rootDirectory="C:\Temp\" authenticationType="Integrated" />
                <add userName="drazen" domian="" rootDirectory="C:\Temp\drazen\" authenticationType="SQL" />
                <add userName="admin" domian="" rootDirectory="C:\Temp\admin\" authenticationType="SQL" />
                <add userName="taylor" domian="" rootDirectory="C:\Temp\taylor\" authenticationType="SQL" />
            </Directory>
        </FileTransferServerPaths>
    </FileTransferServerDirectoryGroup>

    <NequeoReflectionGroup>
        <NequeoReflections>
            <Provider>
                <add
                    name="SQL"
                    type="Nequeo.DataAccess.ApplicationLogin.Data.Extension.User, Nequeo.ApplicationLogin.Model, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=4df2ff15e6329e42" />
            </Provider>
        </NequeoReflections>
    </NequeoReflectionGroup>

    <CompositeGroup>
        <CompositeServices>
            <ServiceDirectoryCatalog>
                <add
                    name="NequeoApplicationLoginModel_User"
                    path="Z:\Development\Version2012\Nequeo\Data\Database\NequeoApplicationLogin\Nequeo.ApplicationLogin.Model\Nequeo.ApplicationLogin.Model\bin\Debug"
                    searchPattern="*ApplicationLogin.Model.dll" />
            </ServiceDirectoryCatalog>
        </CompositeServices>
    </CompositeGroup>

    <NequeoSecurityGroup>
        <NequeoSecurityPassword>
            <Encoder type="Nequeo.Security.PasswordEncoding, Nequeo.Security, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca" passwordFormat="Clear" />
        </NequeoSecurityPassword>
    </NequeoSecurityGroup>

    <applicationSettings>
        <Nequeo.Net.FileTransfer.Properties.Settings>
            <setting name="SQLAuthenticationTypeProvider" serializeAs="String">
                <value>SQL</value>
            </setting>
            <setting name="SQLCompositeService" serializeAs="String">
                <value>NequeoApplicationLoginModel_User</value>
            </setting>
        </Nequeo.Net.FileTransfer.Properties.Settings>
    </applicationSettings>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>