<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nequeo.Conversion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Nequeo.Conversion.Properties.Settings>
            <setting name="IncludeHeaders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnDelimiter" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="RowDelimiter" serializeAs="String">
                <value>\r\n</value>
            </setting>
            <setting name="InputCsvPath" serializeAs="String">
                <value>C:\Temp\Data\Input.csv</value>
            </setting>
            <setting name="IncludeCategoryID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadType" serializeAs="String">
                <value>System.Collections.Generic.List`1[[Nequeo.Conversion.Model.TransformModel[],Nequeo.Model]]</value>
            </setting>
            <setting name="OutputCsvPath" serializeAs="String">
                <value>C:\Temp\Data\Output.csv</value>
            </setting>
            <setting name="DateTimeDataFormat" serializeAs="String">
                <value>ddMMyy</value>
            </setting>
            <setting name="ArchivePath" serializeAs="String">
                <value>C:\Temp\Data\Archive\</value>
            </setting>
            <setting name="OneRowPerCsvFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LengthOfTimeToKeepArchiveFiles" serializeAs="String">
                <value>100</value>
            </setting>
        </Nequeo.Conversion.Properties.Settings>
    </applicationSettings>
</configuration>
