<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="HttpHandlerExtensionGroup">
            <section name="HttpHandlerDataExtensions" 
                     type="Nequeo.Web.Configuration.HttpHandlerDataExtensions, Nequeo.Web, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=7fdae522143af69b" 
                     allowLocation="true" 
                     allowDefinition="Everywhere"/>

            <section name="HttpHandlerUploadExtensions" 
                     type="Nequeo.Web.Configuration.HttpHandlerUploadExtensions, Nequeo.Web, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=7fdae522143af69b" 
                     allowLocation="true" 
                     allowDefinition="Everywhere"/>
        </sectionGroup>
    </configSections>

    <HttpHandlerExtensionGroup>
        <HttpHandlerDataExtensions>
            <Extension>
                <add name="HttpHandlerClassNameUserData" 
                     httpHandlerTypeName="Nequeo.Web.HttpHandler.GenericData, Nequeo.Web" 
                     dataObjectTypeName="Nequeo.DataAccess.DatabaseName.Data.User, Nequeo.Data.Model" 
                     dataObjectPropertyName="UserID" 
                     urlQueryTextName="UserID" 
                     childPageGroupExecution="~/NewPage.aspx" 
                     referenceLazyLoading="false" 
                     connectionName="databaseConnectionName" 
                     connectionType="SqlConnection" 
                     connectionDataType="SqlDataType" 
                     dataAccessProvider="Nequeo.Data.SqlServer.DataAccess, Nequeo.Data.SqlServer.Provider"/>
            </Extension>
        </HttpHandlerDataExtensions>

        <HttpHandlerUploadExtensions>
            <Extension>
                <add name="HttpHandlerClassNameUploadFile" 
                     httpHandlerTypeName="Nequeo.Web.HttpHandler.FileUpload, Nequeo.Web" 
                     uploadPath="C:\Upload\"/>
            </Extension>
        </HttpHandlerUploadExtensions>
    </HttpHandlerExtensionGroup>

    <system.webServer>
        <modules>
            <add name="MembershipModule" 
                 type="Nequeo.Web.HttpModule.Membership, Nequeo.Web, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=7fdae522143af69b" 
                 preCondition="managedHandler"/>
            <add name="MembershipDataSourceModule" 
                 type="Nequeo.Web.HttpModule.MembershipDataSource, Nequeo.Web, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=7fdae522143af69b" 
                 preCondition="managedHandler"/>
        </modules>
        <handlers>
            <add name="UserDataHandler" verb="*" path="User.aspx" preCondition="integratedMode" 
                 type="Nequeo.Web.HttpHandler.GenericData, Nequeo.Web, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=7fdae522143af69b"/>
            <add name="CaptchaHandler" verb="*" path="Captcha.aspx" preCondition="integratedMode" 
                 type="Nequeo.Web.HttpHandler.Captcha, Nequeo.Web, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=7fdae522143af69b"/>
            <add name="FileUploadHandler" verb="*" path="FileUpload.aspx" preCondition="integratedMode" 
                 type="Nequeo.Web.HttpHandler.FileUpload, Nequeo.Web, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=7fdae522143af69b"/>
        </handlers>
    </system.webServer>

    <system.web>
        <sessionState mode="Custom" customProvider="TextFileSessionStateProvider">
            <providers>
                <add name="TextFileSessionStateProvider" 
                     type="Nequeo.Web.Provider.TextFileSessionStateProvider, Nequeo.Web, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=7fdae522143af69b"/>
            </providers>
        </sessionState>

        <roleManager enabled="false">
            <providers>
                <clear/>
                <add name="SqlDataBaseRoleProvider" 
                     type="Nequeo.Web.Provider.DataBaseRoleProvider, Nequeo.Web, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=7fdae522143af69b" 
                     connectionStringName="ApplicationServices" 
                     roleProviderType="Nequeo.Data.DataType.IRoleProvider, AssemblyName" 
                     applicationName="applicationName"/>
            </providers>
        </roleManager>

        <membership>
            <providers>
                <clear/>
                <add name="SqlDataBaseMembershipProvider" 
                     type="Nequeo.Web.Provider.DataBaseMembershipProvider, Nequeo.Web, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=7fdae522143af69b" 
                     connectionStringName="connectionStringName" 
                     enablePasswordRetrieval="false" 
                     enablePasswordReset="true" 
                     requiresQuestionAndAnswer="false" 
                     requiresUniqueEmail="false" 
                     maxInvalidPasswordAttempts="5" 
                     minRequiredPasswordLength="6" 
                     minRequiredNonalphanumericCharacters="0"
                     passwordFormat="Clear"
                     passwordAttemptWindow="10" 
                     membershipProviderType="Nequeo.Data.DataType.IMembershipProvider, AssemblyName" 
                     applicationName="applicationName"/>
            </providers>
        </membership>

        <profile>
            <providers>
                <clear/>
                <add name="SqlDataBaseProfileProvider" 
                     type="Nequeo.Web.Provider.DataBaseProfileProvider, Nequeo.Web, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=7fdae522143af69b" 
                     connectionStringName="connectionStringName" 
                     profileProviderType="Nequeo.Data.DataType.IProfileProvider, AssemblyName" 
                     applicationName="applicationName"/>
            </providers>
        </profile>

        <httpModules>
            <add name="MembershipModule" type="Nequeo.Web.HttpModule.Membership, Nequeo.Web, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=7fdae522143af69b"/>
            <add name="MembershipDataSourceModule" type="Nequeo.Web.HttpModule.MembershipDataSource, Nequeo.Web, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=7fdae522143af69b"/>
        </httpModules>
        <httpHandlers>
            <add verb="*" path="User.aspx" validate="false" type="Nequeo.Web.HttpHandler.GenericData, Nequeo.Web, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=7fdae522143af69b"/>
            <add verb="*" path="Captcha.aspx" validate="false" type="Nequeo.Web.HttpHandler.Captcha, Nequeo.Web, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=7fdae522143af69b"/>
            <add verb="*" path="FileUpload.aspx" validate="false" type="Nequeo.Web.HttpHandler.FileUpload, Nequeo.Web, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=7fdae522143af69b"/>
        </httpHandlers>

        <healthMonitoring enabled="false">
            <providers>
                <add name="BufferedTextFileWebEventProvider" 
                     type="Nequeo.Web.Provider.BufferedTextFileWebEventProvider, Nequeo.Web, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=7fdae522143af69b" 
                     bufferMode="Logging" logFileName="~/App_Data/Nequeo1.txt"/>
                <add name="TextFileWebEventProvider" 
                     type="Nequeo.Web.Provider.TextFileWebEventProvider, Nequeo.Web, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=7fdae522143af69b" 
                     logFileName="~/App_Data/Nequeo2.txt"/>
            </providers>
            <rules>
                <add name="NequeoEventsAudits" eventName="Success Audits" provider="TextFileWebEventProvider" minInterval="00:00:01" minInstances="1" maxLimit="Infinite"/>
                <add name="NequeoEvents" eventName="Application Lifetime Events" provider="BufferedTextFileWebEventProvider" minInterval="00:00:01" minInstances="1" maxLimit="Infinite"/>
            </rules>
        </healthMonitoring>
    </system.web>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
