<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="NequeoServerGroup">
            <section name="NequeoServerHosts" type="Nequeo.Net.Configuration.ServerHosts, Nequeo.Net, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=24770b6a676fdab1" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>

        <sectionGroup name="NequeoSecurityGroup">
            <section name="NequeoSecurityHost" type="Nequeo.Security.Configuration.SecurityHost, Nequeo.Security, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
    </configSections>

    <NequeoSecurityGroup>
        <NequeoSecurityHost>
            <ServerCredentials useServerCertificate="false" useCertificateStore="false">
                <CertificatePath path="C:\Temp\CompositeSslNetAu.p12" password="password"/>
                <CertificateStore findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            </ServerCredentials>
        </NequeoSecurityHost>
    </NequeoSecurityGroup>

    <!-- Configuration section settings area. clientTimeOut is in minutes. -->
    <NequeoServerGroup>
        <NequeoServerHosts>
            <Host>
                <add name="WebSocketSingleServer_SocketProviderV4" port="80" clientTimeOut="10" maxNumClients="1000" individualControl="false"/>
                <add name="WebSocketSingleServer_SocketProviderV6" port="80" clientTimeOut="10" maxNumClients="1000" individualControl="false"/>
                <add name="WebSocketSingleServer_SocketProviderV4Ssl" port="443" clientTimeOut="10" maxNumClients="1000" individualControl="false"/>
                <add name="WebSocketSingleServer_SocketProviderV6Ssl" port="443" clientTimeOut="10" maxNumClients="1000" individualControl="false"/>
            </Host>
        </NequeoServerHosts>
    </NequeoServerGroup>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
