<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="NequeoSecurityGroup">
      <section name="NequeoSecurityHost" 
               type="Nequeo.Security.Configuration.SecurityHost, Nequeo.Security, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca" 
               allowLocation="true" allowDefinition="Everywhere"/>
      <section name="NequeoSecurityCredentials" 
               type="Nequeo.Security.Configuration.SecurityCredentials, Nequeo.Security, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca" 
               allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <sectionGroup name="NequeoServerGroup">
      <section name="NequeoServerHosts" type="Nequeo.Net.Configuration.ServerHosts, Nequeo.Net, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=24770b6a676fdab1" 
               allowLocation="true" allowDefinition="Everywhere"/>
      <section name="NequeoRemoteHosts" type="Nequeo.Net.Configuration.RemoteHosts, Nequeo.Net, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=24770b6a676fdab1" 
               allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <NequeoSecurityGroup>
    <NequeoSecurityHost>
      <ServerCredentials useServerCertificate="false" useCertificateStore="false">
        <CertificatePath path="C:\Temp\CompositeSslNetAu.p12" password="password"/>
        <CertificateStore findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
      </ServerCredentials>
    </NequeoSecurityHost>
    <NequeoSecurityCredentials>
      <UserCredentials username="admin" password="D5C959323ACD89ABB7FD9D50391ECCBA" domain="nequeompc" authorisationType="None" authenticationType="None" applicationName="All"/>
    </NequeoSecurityCredentials>
  </NequeoSecurityGroup>
  <!-- Configuration section settings area. clientTimeOut is in minutes. -->
  <NequeoServerGroup>
    <NequeoServerHosts>
      <Host>
        <add name="IntegrationServer_SocketProviderV4" port="8604" clientTimeOut="50" maxNumClients="2147483647" individualControl="false"/>
        <add name="IntegrationServer_SocketProviderV6" port="8604" clientTimeOut="50" maxNumClients="2147483647" individualControl="false"/>
        <add name="IntegrationServer_SocketProviderV4Ssl" port="8605" clientTimeOut="50" maxNumClients="2147483647" individualControl="false"/>
        <add name="IntegrationServer_SocketProviderV6Ssl" port="8605" clientTimeOut="50" maxNumClients="2147483647" individualControl="false"/>
        <add name="InterfaceServer_SocketProviderV4" port="8606" clientTimeOut="50" maxNumClients="2147483647" individualControl="false"/>
        <add name="InterfaceServer_SocketProviderV6" port="8606" clientTimeOut="50" maxNumClients="2147483647" individualControl="false"/>
        <add name="InterfaceServer_SocketProviderV4Ssl" port="8607" clientTimeOut="50" maxNumClients="2147483647" individualControl="false"/>
        <add name="InterfaceServer_SocketProviderV6Ssl" port="8607" clientTimeOut="50" maxNumClients="2147483647" individualControl="false"/>
      </Host>
    </NequeoServerHosts>
    <NequeoRemoteHosts>
      <Host>
        <add name="Authentication_RemoteHost" host="nequeompc" port="8600"/>
        <add name="Authentication_RemoteHostSsl" host="nequeompc" port="8601"/>
        <add name="Communication_RemoteHost" host="nequeompc" port="8602"/>
        <add name="Communication_RemoteHostSsl" host="nequeompc" port="8603"/>
        <add name="Token_RemoteHost" host="nequeompc" port="8608"/>
        <add name="Token_RemoteHostSsl" host="nequeompc" port="8609"/>
      </Host>
    </NequeoRemoteHosts>
  </NequeoServerGroup>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
</configuration>