<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <sectionGroup name="NequeoSecurityGroup">

         <section name="NequeoSecurityHost"
                  type="Nequeo.Security.Configuration.SecurityHost, Nequeo.Security, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca"
                  allowLocation="true" allowDefinition="Everywhere"/>

         <section name="NequeoSecurityCredentials"
                  type="Nequeo.Security.Configuration.SecurityCredentials, Nequeo.Security, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca"
                  allowLocation="true" allowDefinition="Everywhere"/>

         <section name="NequeoSecurityPassword"
                  type="Nequeo.Security.Configuration.SecurityPassword, Nequeo.Security, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca"
                  allowLocation="true" allowDefinition="Everywhere"/>

         <section name="NequeoSecurityPermission"
                  type="Nequeo.Security.Configuration.SecurityPermission, Nequeo.Security, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca"
                  allowLocation="true" allowDefinition="Everywhere"/>

      </sectionGroup>
   </configSections>

   <NequeoSecurityGroup>
      <NequeoSecurityHost>
         <ServerCredentials useServerCertificate="false" useCertificateStore="false">
            <CertificatePath path="C:\Temp\CompositeSslNetAu.p12" password="password"/>
            <CertificateStore findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
         </ServerCredentials>
         <ServerCredentialsEncoded useServerCertificate="false">
            <CertificatePath path="C:\Temp\CompositeSslNetAu.p12" password="passwordEncoded"/>
         </ServerCredentialsEncoded>
      </NequeoSecurityHost>
      <NequeoSecurityCredentials>
         <UserCredentials username="admin" password="password" domain="domain" authorisationType="None" authenticationType="None" applicationName="All">
            <AuthorisationCredentials username="adminAuth" password="passwordAuth" server="" secureConnection="false" containerDN=""/>
         </UserCredentials>
      </NequeoSecurityCredentials>
      <NequeoSecurityPassword>
         <Encoder type="Nequeo.Security.PasswordEncoding, Nequeo.Security, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca"
                  passwordFormat="Clear" authorisationCode="" hashcodeType="SHA512"/>
      </NequeoSecurityPassword>
      <NequeoSecurityPermission>
         <Source type="Nequeo.Security.PermissionSource, Nequeo.Security, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca"
                 permissionType="None"/>
      </NequeoSecurityPermission>
   </NequeoSecurityGroup>

   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
   </startup>
</configuration>