<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nequeo.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="NequeoSecurityGroup">

            <section name="NequeoSecurityHost" type="Nequeo.Security.Configuration.SecurityHost, Nequeo.Security, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca" allowLocation="true" allowDefinition="Everywhere"/>

            <section name="NequeoSecurityCredentials" type="Nequeo.Security.Configuration.SecurityCredentials, Nequeo.Security, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca" allowLocation="true" allowDefinition="Everywhere"/>

        </sectionGroup>
        <sectionGroup name="CompositeServerGroup">
            <section name="CompositeServerServices" type="Nequeo.Composite.Configuration.CompositeServerServices, Nequeo.Composite, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=6ee3a0564e92e352" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
    </configSections>
    
    <applicationSettings>
        <Nequeo.Service.Properties.Settings>
            <setting name="BaseDirectoryPath" serializeAs="String">
                <value>C:\Temp\Data</value>
            </setting>
        </Nequeo.Service.Properties.Settings>
    </applicationSettings>

    <NequeoSecurityGroup>
        <NequeoSecurityHost>
            <ServerCredentials useServerCertificate="false" useCertificateStore="false">
                <CertificatePath path="C:\Temp\CompositeSslNetAu.p12" password="password"/>
                <CertificateStore findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            </ServerCredentials>
        </NequeoSecurityHost>
        <NequeoSecurityCredentials>
            <UserCredentials username="admin" password="password" domain="domain" authorisationType="None" authenticationType="None">
                <AuthorisationCredentials username="adminAuth" password="passwordAuth" server="" secureConnection="false" containerDN=""/>
            </UserCredentials>
        </NequeoSecurityCredentials>
    </NequeoSecurityGroup>

    <CompositeServerGroup>
        <CompositeServerServices>
            <GeneralPath name="topLevelCompositePath" path="C:\Composite\"/>
            <Service>
                <add name="SystemInformation" path="C:\SystemInformation\"/>
                <add name="SystemDetails" path="C:\SystemDetails\"/>
            </Service>
        </CompositeServerServices>
    </CompositeServerGroup>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        </modules>
        <handlers>
            <add name="StreamHandler" verb="*" path="StreamHandler.*" preCondition="integratedMode" type="Nequeo.Service.Transfer.StreamHandler, Nequeo.Service.Common, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=b73816b3397f5fe4"/>
            <add name="StreamQueryHandler" verb="*" path="StreamQueryHandler.*" preCondition="integratedMode" type="Nequeo.Service.Transfer.StreamQueryHandler, Nequeo.Service.Common, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=b73816b3397f5fe4"/>
            <add name="StreamFileQueryHandler" verb="*" path="StreamFileQueryHandler.*" preCondition="integratedMode" type="Nequeo.Service.Transfer.StreamFileQueryHandler, Nequeo.Service.Common, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=b73816b3397f5fe4"/>
            <add name="MessageHandler" verb="*" path="StreamHandler.*" preCondition="integratedMode" type="Nequeo.Service.Message.StreamHandler, Nequeo.Service.Common, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=b73816b3397f5fe4"/>
        </handlers>
        <validation validateIntegratedModeConfiguration="false"/>
    </system.webServer>
    
    <system.web>
        <httpModules>
            <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        </httpModules>
        <httpHandlers>
            <add verb="*" path="StreamHandler.*" validate="false" type="Nequeo.Service.Transfer.StreamHandler, Nequeo.Service.Common, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=b73816b3397f5fe4"/>
            <add verb="*" path="StreamQueryHandler.*" validate="false" type="Nequeo.Service.Transfer.StreamQueryHandler, Nequeo.Service.Common, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=b73816b3397f5fe4"/>
            <add verb="*" path="StreamFileQueryHandler.*" validate="false" type="Nequeo.Service.Transfer.StreamFileQueryHandler, Nequeo.Service.Common, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=b73816b3397f5fe4"/>
            <add verb="*" path="StreamHandler.*" validate="false" type="Nequeo.Service.Message.StreamHandler, Nequeo.Service.Common, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=b73816b3397f5fe4"/>
        </httpHandlers>
        <compilation debug="true"/>
    </system.web>

    <!-- When deploying the service library project, the content of the config file must be added to the host's 
        app.config file. System.Configuration does not support config files for libraries. -->
    <system.serviceModel>
        <!--For serviceBehaviors aspNetCompatibilityEnabled="false"
               for endpointBehaviors aspNetCompatibilityEnabled="true" -->
        <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
        <services>
            <service name="Nequeo.Service.Message.RestFull">
                <endpoint address="" behaviorConfiguration="Nequeo.Service.Message.RestFullBehavior" binding="webHttpBinding" contract="Nequeo.Service.Message.RestFull">
                </endpoint>
            </service>
            <service name="Nequeo.Service.Transfer.Stream">
                <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="BasicStreamedMessage" contract="Nequeo.Service.Transfer.IStream">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="http://localhost:8712/ServiceTransfer/Stream/basicWcf" binding="basicHttpBinding" bindingConfiguration="BasicStreamedMessage" contract="Nequeo.Service.Transfer.IStream">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="net.tcp://localhost:8713/ServiceTransfer/Stream/secureBasicWcf" binding="netTcpBinding" bindingConfiguration="BasicStreamedMessageSecure" contract="Nequeo.Service.Transfer.IStream">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="http://localhost:8714/ServiceTransfer/Stream/basicEp1" binding="basicHttpBinding" bindingConfiguration="BasicStreamedMessage" contract="Nequeo.Service.Transfer.IStream">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="http://localhost:8715/ServiceTransfer/Stream/customEp2" binding="customBinding" bindingConfiguration="CustomStreamedSoap12WSAddressing10" contract="Nequeo.Service.Transfer.IStream">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8711/ServiceTransfer/Stream/"/>
                    </baseAddresses>
                </host>
            </service>
            <service name="Nequeo.Service.Transfer.ByteStream">
                <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="BasicBufferedMessage" contract="Nequeo.Service.Transfer.IByteStream">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="http://localhost:8717/ServiceTransfer/ByteStream/basicWcf" binding="basicHttpBinding" bindingConfiguration="BasicBufferedMessage" contract="Nequeo.Service.Transfer.IByteStream">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="net.tcp://localhost:8718/ServiceTransfer/ByteStream/secureBasicWcf" binding="netTcpBinding" bindingConfiguration="BasicBufferedMessageSecure" contract="Nequeo.Service.Transfer.IByteStream">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="http://localhost:8719/ServiceTransfer/ByteStream/basicEp1" binding="basicHttpBinding" bindingConfiguration="BasicBufferedMessage" contract="Nequeo.Service.Transfer.IByteStream">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="http://localhost:8720/ServiceTransfer/ByteStream/customEp2" binding="customBinding" bindingConfiguration="CustomBufferedSoap12WSAddressing10" contract="Nequeo.Service.Transfer.IByteStream">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8716/ServiceTransfer/ByteStream/"/>
                    </baseAddresses>
                </host>
            </service>
            <service name="Nequeo.Service.Message.Stream">
                <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="BasicBufferedMessage" contract="Nequeo.Service.Message.IStream">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="http://localhost:8722/ServiceMessage/Stream/basicWcf" binding="basicHttpBinding" bindingConfiguration="BasicBufferedMessage" contract="Nequeo.Service.Message.IStream">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="net.tcp://localhost:8723/ServiceMessage/Stream/secureBasicWcf" binding="netTcpBinding" bindingConfiguration="BasicBufferedMessageSecure" contract="Nequeo.Service.Message.IStream">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="http://localhost:8724/ServiceMessage/Stream/basicEp1" binding="basicHttpBinding" bindingConfiguration="BasicBufferedMessage" contract="Nequeo.Service.Message.IStream">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="http://localhost:8725/ServiceMessage/Stream/customEp2" binding="customBinding" bindingConfiguration="CustomBufferedSoap12WSAddressing10" contract="Nequeo.Service.Message.IStream">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8721/ServiceMessage/Stream/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- To avoid disclosing metadata information, 
                        set the value below to false and remove the metadata endpoint above before deployment -->
                    <serviceMetadata httpGetEnabled="True"/>
                    <!-- To receive exception details in faults for debugging purposes, 
                        set the value below to true.  Set to false before deployment 
                        to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="False"/>
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="Nequeo.Service.Message.RestFullBehavior">
                    <enableWebScript/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicStreamedMessage" maxReceivedMessageSize="67108864" transferMode="Streamed">
                </binding>
                <binding name="BasicStreamedMessageSecure" maxReceivedMessageSize="67108864" transferMode="Streamed">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic"/>
                    </security>
                </binding>
                <binding name="BasicBufferedMessage" maxReceivedMessageSize="67108864" transferMode="Buffered">
                </binding>
                <binding name="BasicBufferedMessageSecure" maxReceivedMessageSize="67108864" transferMode="Buffered">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic"/>
                    </security>
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="BasicStreamedMessageSecure" maxReceivedMessageSize="67108864" transferMode="Buffered">
                    <!--<security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>-->
                </binding>
                <binding name="BasicBufferedMessageSecure" maxReceivedMessageSize="67108864" transferMode="Buffered">
                    <!--<security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>-->
                </binding>
            </netTcpBinding>
            <customBinding>
                <binding name="CustomStreamedSoap12WSAddressing10">
                    <textMessageEncoding messageVersion="Soap12WSAddressing10"/>
                    <httpTransport transferMode="Streamed" maxReceivedMessageSize="67108864"/>
                </binding>
                <binding name="CustomBufferedSoap12WSAddressing10">
                    <textMessageEncoding messageVersion="Soap12WSAddressing10"/>
                    <httpTransport transferMode="Buffered" maxReceivedMessageSize="67108864"/>
                </binding>
            </customBinding>
        </bindings>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
