<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nequeo.Net.Http.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Nequeo.Net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="NequeoSecurityGroup">
            <section name="NequeoSecurityHost" type="Nequeo.Security.Configuration.SecurityHost, Nequeo.Security, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
        <sectionGroup name="NequeoServerGroup">
            <section name="NequeoServerHosts" type="Nequeo.Net.Configuration.ServerHosts, Nequeo.Net, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=24770b6a676fdab1" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
    </configSections>
    <NequeoSecurityGroup>
        <NequeoSecurityHost>
            <ServerCredentials useServerCertificate="true" useCertificateStore="false">
                <CertificatePath path="C:\Store\Openssl\bin.v.1.0.1g\CA\IssuedCertificates\SecureNequeoNetAu_pie_certificate.p12" password="drazen"/>
                <CertificateStore findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            </ServerCredentials>
        </NequeoSecurityHost>
    </NequeoSecurityGroup>
    <NequeoServerGroup>
        <NequeoServerHosts>
            <Host>
                <add name="HttpDynamicServerSingle_SocketProviderV4" port="8806" clientTimeOut="30" maxNumClients="10000" individualControl="false"/>
                <add name="HttpDynamicServerSingle_SocketProviderV6" port="8806" clientTimeOut="30" maxNumClients="10000" individualControl="false"/>
                <add name="HttpDynamicServerSingle_SocketProviderV4Ssl" port="8807" clientTimeOut="30" maxNumClients="10000" individualControl="false"/>
                <add name="HttpDynamicServerSingle_SocketProviderV6Ssl" port="8807" clientTimeOut="30" maxNumClients="10000" individualControl="false"/>
            </Host>
        </NequeoServerHosts>
    </NequeoServerGroup>
    <applicationSettings>
        <Nequeo.Net.Http.Properties.Settings>
            <setting name="HttpStaticBasePath" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="HttpStaticSingleBasePath" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="HttpDynamicSingleBasePath" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
        </Nequeo.Net.Http.Properties.Settings>
        <Nequeo.Net.Properties.Settings>
            <setting name="HttpStaticSingleServerListeningPort" serializeAs="String">
                <value>8800</value>
            </setting>
            <setting name="HttpStaticServerListeningPort" serializeAs="String">
                <value>8801</value>
            </setting>
            <setting name="HttpStaticSingleServerListeningPortSecure" serializeAs="String">
                <value>8802</value>
            </setting>
            <setting name="HttpStaticServerListeningPortSecure" serializeAs="String">
                <value>8803</value>
            </setting>
            <setting name="HttpStaticMaxCacheSize" serializeAs="String">
                <value>1000000000</value>
            </setting>
        </Nequeo.Net.Properties.Settings>
    </applicationSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
