<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="NequeoSecurityGroup">
            <section name="NequeoSecurityHost" type="Nequeo.Security.Configuration.NequeoSecurityHost, Nequeo.Security, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nequeo.Management.NetTcp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>

    <NequeoSecurityGroup>
        <NequeoSecurityHost>
            <ServerCredentials useServerCertificate="false" useCertificateStore="false">
                <CertificatePath path="C:\Temp\CompositeSslNetAu.p12" password="password"/>
                <CertificateStore findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            </ServerCredentials>
        </NequeoSecurityHost>
    </NequeoSecurityGroup>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="false"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Nequeo.Management.NetTcp.Server">
                <endpoint address="" binding="netTcpBinding" contract="Nequeo.Management.NetTcp.IServer">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:8732/Design_Time_Addresses/Nequeo.Management.NetTcp/Server/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
    <applicationSettings>
        <Nequeo.Management.NetTcp.Properties.Settings>
            <setting name="ServiceAddress" serializeAs="String">
                <value>net.tcp://localhost:8732/Design_Time_Addresses/Nequeo.Management.NetTcp/Server/</value>
            </setting>
        </Nequeo.Management.NetTcp.Properties.Settings>
    </applicationSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
