<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="NequeoSecurityGroup">
            <section name="NequeoSecurityHost" type="Nequeo.Security.Configuration.NequeoSecurityHost, Nequeo.Security, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>

        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nequeo.Management.NamedPipe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>

    <NequeoSecurityGroup>
        <NequeoSecurityHost>
            <ServerCredentials useServerCertificate="false" useCertificateStore="false">
                <CertificatePath path="C:\Temp\CompositeSslNetAu.p12" password="password"/>
                <CertificateStore findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            </ServerCredentials>
        </NequeoSecurityHost>
    </NequeoSecurityGroup>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="false"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Nequeo.Management.NamedPipe.Server">
                <endpoint address="net.pipe://localhost/Nequeo.Management.NamedPipe/Server" binding="netNamedPipeBinding" bindingConfiguration="NequeoManagementNamedPipe" contract="Nequeo.Management.NamedPipe.IServer">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/Nequeo.Management.NamedPipe/Server/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NequeoManagementNamedPipe" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
                    <security mode="Transport">
                        <transport protectionLevel="EncryptAndSign"/>
                    </security>
                </binding>
            </netNamedPipeBinding>
        </bindings>
    </system.serviceModel>
    <applicationSettings>
        <Nequeo.Management.NamedPipe.Properties.Settings>
            <setting name="ServiceAddress" serializeAs="String">
                <value>net.pipe://localhost/Nequeo.Management.NamedPipe/Server</value>
            </setting>
        </Nequeo.Management.NamedPipe.Properties.Settings>
    </applicationSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
