<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="NequeoReflectionGroup">
            <section name="NequeoReflections" type="Nequeo.Configuration.ReflectionsProvider, Nequeo.Reflection, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=3b355968680c6ed8" allowLocation="true" allowDefinition="Everywhere"/>

        </sectionGroup>
    </configSections>

    <NequeoReflectionGroup>
        <NequeoReflections>
            <Provider>
                <add name="SQL" type="Nequeo.Sql.Provider, Nequeo.Sql, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=null"/>
                <add name="Domain" type="Nequeo.Domian.Provider, Nequeo.Domian, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=null"/>
            </Provider>
        </NequeoReflections>
    </NequeoReflectionGroup>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
