<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="ProxySmtpServerGroup">
      <section name="ProxySmtpServerDefaultHost" type="Nequeo.Net.Configuration.ProxySmtpServerDefaultHost, Nequeo.Smtp.Proxy.Server, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=aea49fb0a55dc6b6" allowLocation="true" allowDefinition="Everywhere"/>

      <section name="ProxySmtpServerHosts" type="Nequeo.Net.Configuration.ProxySmtpServerHosts, Nequeo.Smtp.Proxy.Server, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=aea49fb0a55dc6b6" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <!-- Configuration section settings area. clientTimeOut is in minutes. -->
  <ProxySmtpServerGroup>
    <ProxySmtpServerDefaultHost hostName="SmtpListenServer">
      <Host name="SmtpListenServer" host="nequeo" port="25" maxNumClients="30" clientTimeOut="30"/>
      <ServerCredentials useCertificateStore="false">
        <CertificatePath path="C:\Temp\ProxySmtpSslNetAu.p12" password="password"/>
        <CertificateStore findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
      </ServerCredentials>
    </ProxySmtpServerDefaultHost>
    <ProxySmtpServerHosts>
      <Host>
        <add name="SmtpListenServer" host="nequeo" port="25" maxNumClients="30" clientTimeOut="30"/>
        <add name="SmtpListenServer1" host="nequeo" port="25" maxNumClients="30" clientTimeOut="30"/>
        <add name="SmtpListenServer2" host="nequeo" port="25" maxNumClients="30" clientTimeOut="30"/>
        <add name="SmtpListenServer3" host="nequeo" port="25" maxNumClients="30" clientTimeOut="30"/>
        <add name="SmtpTlsListenServer4" host="nequeo" port="25" maxNumClients="30" clientTimeOut="30"/>
        <add name="SmtpTlsListenServer5" host="nequeo" port="25" maxNumClients="30" clientTimeOut="30"/>
        <add name="SmtpTlsListenServer6" host="nequeo" port="25" maxNumClients="30" clientTimeOut="30"/>
        <add name="SmtpTlsListenServer7" host="nequeo" port="25" maxNumClients="30" clientTimeOut="30"/>
        <add name="SslProxyNequeoNet1" host="localhost" port="4656" maxNumClients="30" clientTimeOut="30"/>
        <add name="SslProxyNequeoNet2" host="nequeo.net.au" port="4657" maxNumClients="30" clientTimeOut="30"/>
        <add name="SslProxyNequeoNet3" host="nequeo.net.au" port="4658" maxNumClients="30" clientTimeOut="30"/>
        <add name="SslProxyNequeoNet4" host="nequeo.net.au" port="4659" maxNumClients="30" clientTimeOut="30"/>
        <add name="TlsProxyNequeoNet5" host="localhost" port="4651" maxNumClients="30" clientTimeOut="30"/>
        <add name="TlsProxyNequeoNet6" host="nequeo.net.au" port="4652" maxNumClients="30" clientTimeOut="30"/>
        <add name="TlsProxyNequeoNet7" host="nequeo.net.au" port="4653" maxNumClients="30" clientTimeOut="30"/>
        <add name="TlsProxyNequeoNet8" host="nequeo.net.au" port="4654" maxNumClients="30" clientTimeOut="30"/>
      </Host>
    </ProxySmtpServerHosts>
  </ProxySmtpServerGroup>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
