<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="NequeoSecurityGroup">
            <section name="NequeoSecurityHost" type="Nequeo.Security.Configuration.SecurityHost, Nequeo.Security, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
        <sectionGroup name="NequeoServerGroup">
            <section name="NequeoServerHosts" type="Nequeo.Net.Configuration.ServerHosts, Nequeo.Net, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=24770b6a676fdab1" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nequeo.Net.Download.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>

    <NequeoSecurityGroup>
        <NequeoSecurityHost>
            <ServerCredentials useServerCertificate="true" useCertificateStore="false">
                <CertificatePath path="C:\Store\Openssl\bin.v.1.0.1g\CA\IssuedCertificates\SecureNequeoNetAu_pie_certificate.p12" password="drazen"/>
                <CertificateStore findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            </ServerCredentials>
        </NequeoSecurityHost>
    </NequeoSecurityGroup>

    <NequeoServerGroup>
        <NequeoServerHosts>
            <Host>
                <add name="DownloadManagerServer_SocketProviderV4" port="8736" clientTimeOut="50" maxNumClients="2147483647" individualControl="false"/>
                <add name="DownloadManagerServer_SocketProviderV6" port="8736" clientTimeOut="50" maxNumClients="2147483647" individualControl="false"/>
                <add name="DownloadManagerServer_SocketProviderV4Ssl" port="8737" clientTimeOut="50" maxNumClients="2147483647" individualControl="false"/>
                <add name="DownloadManagerServer_SocketProviderV6Ssl" port="8737" clientTimeOut="50" maxNumClients="2147483647" individualControl="false"/>
            </Host>
        </NequeoServerHosts>
    </NequeoServerGroup>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <applicationSettings>
        <Nequeo.Net.Download.Properties.Settings>
            <setting name="DownloadBasePath" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
        </Nequeo.Net.Download.Properties.Settings>
    </applicationSettings>
</configuration>
