<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="NequeoHandlerGroup">
            <section name="BaseHandlerDefaultSection" 
                     type="Nequeo.Handler.Configuration.BaseHandlerDefaultSection, Nequeo.Handler, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=17ce537f814a362f" 
                     allowLocation="true" allowDefinition="Everywhere"/>

            <section name="BaseTypeHandlerDefaultSection" 
                     type="Nequeo.Handler.Configuration.BaseTypeHandlerDefaultSection, Nequeo.Handler, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=17ce537f814a362f" 
                     allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
    </configSections>

    <!-- Processing log file path configuration -->
    <!-- Error log file path configuration -->
    <!-- MembershipCacheTimeOut configuration is in seconds -->
    <!-- ProcessLogFileMaxSize configuration is in Megabytes -->
    <!-- ErrorLogFileMaxSize configuration is in Megabytes -->
    <NequeoHandlerGroup>
        <BaseHandlerDefaultSection baseHandlerName="BaseHandler">
            <BaseHandler processLogFilePathIsRelative="true" processLogFilePath="Log\Process" processLogFileMaxSize="1" errorLogFilePathIsRelative="true" errorLogFilePath="Log\Error" errorLogFileMaxSize="1" sessionStatePathIsRelative="true" sessionStatePath="App_Data\Session_Data" membershipCacheTimeOut="-1"/>
        </BaseHandlerDefaultSection>

        <BaseTypeHandlerDefaultSection>
            <Extension>
                <add name="MembershipErrorBehavior" assemblyName="Nequeo.Data.Model" typeName="Nequeo.Data.Controller.Wcf.Service.Membership, Nequeo.Data.Model" typeMemberName="Validate" writeTo="EventLog" logType="Error"/>
            </Extension>
        </BaseTypeHandlerDefaultSection>
    </NequeoHandlerGroup>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
