<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="ProxyPop3ServerGroup">
      <section name="ProxyPop3ServerDefaultHost" type="Nequeo.Net.Configuration.ProxyPop3ServerDefaultHost, Nequeo.Pop3.Proxy.Server, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=9f0264392e0ac044" allowLocation="true" allowDefinition="Everywhere"/>

      <section name="ProxyPop3ServerHosts" type="Nequeo.Net.Configuration.ProxyPop3ServerHosts, Nequeo.Pop3.Proxy.Server, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=9f0264392e0ac044" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <!-- Configuration section settings area. clientTimeOut is in minutes. -->
  <ProxyPop3ServerGroup>
    <ProxyPop3ServerDefaultHost hostName="Pop3ListenServer">
      <Host name="Pop3ListenServer" host="nequeo" port="110" maxNumClients="30" clientTimeOut="30"/>
      <ServerCredentials useCertificateStore="false">
        <CertificatePath path="C:\Temp\ProxyPop3SslNetAu.p12" password="password"/>
        <CertificateStore findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
      </ServerCredentials>
    </ProxyPop3ServerDefaultHost>
    <ProxyPop3ServerHosts>
      <Host>
        <add name="Pop3ListenServer" host="nequeo" port="110" maxNumClients="30" clientTimeOut="30"/>
        <add name="Pop3ListenServer1" host="nequeo" port="110" maxNumClients="30" clientTimeOut="30"/>
        <add name="Pop3ListenServer2" host="nequeo" port="110" maxNumClients="30" clientTimeOut="30"/>
        <add name="Pop3ListenServer3" host="nequeo" port="110" maxNumClients="30" clientTimeOut="30"/>
        <add name="Pop3TlsListenServer4" host="nequeo" port="110" maxNumClients="30" clientTimeOut="30"/>
        <add name="Pop3TlsListenServer5" host="nequeo" port="110" maxNumClients="30" clientTimeOut="30"/>
        <add name="Pop3TlsListenServer6" host="nequeo" port="110" maxNumClients="30" clientTimeOut="30"/>
        <add name="Pop3TlsListenServer7" host="nequeo" port="110" maxNumClients="30" clientTimeOut="30"/>
        <add name="SslProxyNequeoNet1" host="localhost" port="9956" maxNumClients="30" clientTimeOut="30"/>
        <add name="SslProxyNequeoNet2" host="nequeo.net.au" port="9957" maxNumClients="30" clientTimeOut="30"/>
        <add name="SslProxyNequeoNet3" host="nequeo.net.au" port="9958" maxNumClients="30" clientTimeOut="30"/>
        <add name="SslProxyNequeoNet4" host="nequeo.net.au" port="9959" maxNumClients="30" clientTimeOut="30"/>
        <add name="TlsProxyNequeoNet5" host="localhost" port="9951" maxNumClients="30" clientTimeOut="30"/>
        <add name="TlsProxyNequeoNet6" host="nequeo.net.au" port="9952" maxNumClients="30" clientTimeOut="30"/>
        <add name="TlsProxyNequeoNet7" host="nequeo.net.au" port="9953" maxNumClients="30" clientTimeOut="30"/>
        <add name="TlsProxyNequeoNet8" host="nequeo.net.au" port="9954" maxNumClients="30" clientTimeOut="30"/>
      </Host>
    </ProxyPop3ServerHosts>
  </ProxyPop3ServerGroup>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
