<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<# string CompanyNamespace = "Nequeo";#>
<# string DatabaseName = "NequeoCompany";#>
<# string TypeNameSpace = "Product";#>
<# string TypeName = "Product";#>
<# string ReportNameSpace = "Product";#>
<# string ReportTypeName = "Products";#>
<#@ include file="_DataReportExtenderGeneric.include" #>