<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<# string Namespace = "Nequeo.Net.Http";#>
<# string TypeName = "HttpClient";#>
<#@ include file="_AsyncExecuteTypeGeneric.include" #>