<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Nequeo.VoIP.Sip.Controls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Nequeo.VoIP.Sip.Controls.Properties.Settings>
      <setting name="AccountName" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SipHost" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SipUsername" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SipPassword" serializeAs="String">
        <value></value>
      </setting>
    </Nequeo.VoIP.Sip.Controls.Properties.Settings>
  </userSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>