<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <td class="answercell">
        <div class="post-text" itemprop="text">
            <p>There appear to be two underlying issues.  The following code will produce the same output as the CryptoCC library (<code>3Qo/6hWctRiID3txA9nC</code>):</p>

<pre><code>byte[] clearBytes = Encoding.ASCII.GetBytes(clearText);
using (var encryptor = RijndaelManaged.Create())
{
    encryptor.KeySize = 128;
    encryptor.Padding = PaddingMode.Zeros;
    encryptor.Mode = CipherMode.CFB;
    encryptor.Key = Encoding.ASCII.GetBytes("01234567891234560123456789123456");
    encryptor.IV = Encoding.ASCII.GetBytes("0123456789123456");
    using (MemoryStream ms = new MemoryStream())
    {
       using (CryptoStream cs = new CryptoStream(ms, encryptor.CreateEncryptor(), CryptoStreamMode.Write))
        {
            cs.Write(clearBytes, 0, clearBytes.Length);
            cs.Close();
        }
        Array.Copy(ms.ToArray(), clearBytes, clearBytes.Length);
        clearText = Convert.ToBase64String(clearBytes);
     }
 }
 return clearText;
</code></pre>

            <p>Likewise, the following Crypto++ implementation will provide the value .NET returned in your example (<code>3YklwM2vG20ZmkOT029j</code>).</p>

<pre><code>std::string encrypt(const std::string&amp; str_in, const std::string&amp; key, const std::string&amp; iv)
{
std::string str_out;
CryptoPP::AES::Encryption e1((byte*)key.c_str(), key.length());
    // use feedback size of 1 byte.
CryptoPP::CFB_Mode_ExternalCipher::Encryption encryption(e1, (byte*)iv.c_str(), 1);
    CryptoPP::StringSource encryptor(str_in, true,
     new CryptoPP::StreamTransformationFilter(encryption,
        new CryptoPP::Base64Encoder(
            new CryptoPP::StringSink(str_out),
            false // do not append a newline
        )
     )
    );
    return str_out;
}
</code></pre>

            <p>A few notes:</p>

            <ol>
                <li><p>It's not necessary to append a trailing zero to the string.</p></li>
                <li><p>The Crypto++ implementation does not allow padding in Cipher Feedback (CFB) mode.  The .NET implementation requires padding; however, the excess data can be truncated manually (as is done in the .NET example above).  (See <a href="http://social.msdn.microsoft.com/Forums/vstudio/en-US/a1be5f49-5f0f-4f5f-b01c-af46fdc71915/des-encryption-cfb-mode" rel="nofollow">http://social.msdn.microsoft.com/Forums/vstudio/en-US/a1be5f49-5f0f-4f5f-b01c-af46fdc71915/des-encryption-cfb-mode</a>).</p></li>
                <li><p>See <a href="http://blogs.msdn.com/b/shawnfa/archive/2006/10/09/the-differences-between-rijndael-and-aes.aspx" rel="nofollow">this post</a> on the implications of using AES in place of Rijndael as the CSP.  In particular, the following warning applies to CFB mode:</p></li>
            </ol>

            <blockquote>
                <p>Essentially, if you want to use RijndaelManaged as AES you need to make sure that:</p>

                <ol>
                    <li>The block size is set to 128 bits</li>
                    <li>You are not using CFB mode, or if you are the feedback size is also 128 bits</li>
                </ol>
            </blockquote>

            <p>In this case, using CFB mode introduces additional complications.  Note that this is a consequence of using CFB; if you use Cipher Block Chaining (CBC) mode, both <code>Aes</code> and <code>Rijndael</code> return the same result as Crypto++ for the given key and value (<code>IwffxivpwdSuS9BV0KeyCg==</code>).</p>
        </div>
</td>
</body>
</html>