<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nequeo.Management.MessageQueue.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <services>
            <service name="Nequeo.Management.MessageQueue.Server">
                <endpoint address="msmq.FormatName:DIRECT=OS:.\private$\Message" binding="msmqIntegrationBinding" bindingConfiguration="ServerProcessorBinding" contract="Nequeo.Management.MessageQueue.IServer">
                </endpoint>
            </service>
        </services>
        <bindings>
            <msmqIntegrationBinding>
                <binding name="ServerProcessorBinding">
                    <security mode="None"/>
                </binding>
            </msmqIntegrationBinding>
        </bindings>
    </system.serviceModel>
    <applicationSettings>
        <Nequeo.Management.MessageQueue.Properties.Settings>
            <setting name="ServerQueueName" serializeAs="String">
                <value>FormatName:DIRECT=OS:</value>
            </setting>
            <setting name="QueueName" serializeAs="String">
                <value>.\private$\Message</value>
            </setting>
        </Nequeo.Management.MessageQueue.Properties.Settings>
    </applicationSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
