<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nequeo.Net.Search.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nequeo.Net.Search.Properties.Settings>
            <setting name="MicrosoftSearchServiceURI" serializeAs="String">
                <value>https://api.datamarket.azure.com/Bing/Search/v1/</value>
            </setting>
            <setting name="GoogleSearchServiceURI" serializeAs="String">
                <value>https://www.googleapis.com/customsearch/v1</value>
            </setting>
            <setting name="MicrosoftSearchServiceURI_v5" serializeAs="String">
                <value>https://api.cognitive.microsoft.com/bing/v5.0/search</value>
            </setting>
        </Nequeo.Net.Search.Properties.Settings>
    </userSettings>
</configuration>