<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="NequeoServerGroup">
            <section name="NequeoServerHosts" type="Nequeo.Net.Configuration.ServerHosts, Nequeo.Net, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=24770b6a676fdab1" allowLocation="true" allowDefinition="Everywhere"/>

            <section name="NequeoRemoteHosts" type="Nequeo.Net.Configuration.RemoteHosts, Nequeo.Net, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=24770b6a676fdab1" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>

        <sectionGroup name="NequeoSecurityGroup">
            <section name="NequeoSecurityHost" type="Nequeo.Security.Configuration.SecurityHost, Nequeo.Security, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=2d222aa2794dadca" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>

        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nequeo.Net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>

    <NequeoSecurityGroup>
        <NequeoSecurityHost>
            <ServerCredentials useServerCertificate="false" useCertificateStore="false">
                <CertificatePath path="C:\Temp\CompositeSslNetAu.p12" password="password"/>
                <CertificateStore findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            </ServerCredentials>
        </NequeoSecurityHost>
    </NequeoSecurityGroup>

    <!-- Configuration section settings area. clientTimeOut is in minutes. -->
    <NequeoServerGroup>
        <NequeoServerHosts>
            <Host>
                <add name="HttpServer_SocketProviderV4" port="8880" clientTimeOut="10" maxNumClients="2147483647" individualControl="false"/>
                <add name="HttpServer_SocketProviderV6" port="8880" clientTimeOut="10" maxNumClients="2147483647" individualControl="false"/>
                <add name="HttpServer_SocketProviderV4Ssl" port="8879" clientTimeOut="10" maxNumClients="2147483647" individualControl="false"/>
                <add name="HttpServer_SocketProviderV6Ssl" port="8879" clientTimeOut="10" maxNumClients="2147483647" individualControl="false"/>
            </Host>
        </NequeoServerHosts>
        <NequeoRemoteHosts>
            <Host>
                <add name="HttpClient_RemoteHost" host="hostname" port="8880"/>
                <add name="HttpClient_RemoteHostSsl" host="hostname" port="8879"/>
            </Host>
        </NequeoRemoteHosts>
    </NequeoServerGroup>

    <applicationSettings>
        <Nequeo.Net.Properties.Settings>
            <setting name="EventApplicationName" serializeAs="String">
                <value/>
            </setting>
        </Nequeo.Net.Properties.Settings>
    </applicationSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
