<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<# string Namespace = "Nequeo.Wpf.NequeoCompany.Controls";#>
<# string TypeNamespace = "Nequeo.Wpf.NequeoCompany.Controls";#>
<# string TypeName = "Asset";#>
<#@ include file="_AsyncExecuteTypeGeneric.include" #>