<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="FileTransferServerGroup">
            <section name="FileTransferServerDefaultHost" 
                     type="Nequeo.Net.FileTransfer.Configuration.FileTransferServerDefaultHost, Nequeo.Net.FileTransfer.Client, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=0c8e32965c89a737" 
                     allowLocation="true" allowDefinition="Everywhere"/>

            <section name="FileTransferServerHosts" 
                     type="Nequeo.Net.FileTransfer.Configuration.FileTransferServerHosts, Nequeo.Net.FileTransfer.Client, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=0c8e32965c89a737" 
                     allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
    </configSections>

    <FileTransferServerGroup>
        <FileTransferServerDefaultHost hostName="localhost">
            <Host name="localhost" host="localhost" port="2766"/>
        </FileTransferServerDefaultHost>
        <FileTransferServerHosts>
            <Host>
                <add name="localhost" host="localhost" port="2766"/>
                <add name="Nequeo" host="nequeo" port="2767"/>
                <add name="NequeoNet" host="nequeo.net.au" port="2768"/>
            </Host>
        </FileTransferServerHosts>
    </FileTransferServerGroup>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
