<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<# string Namespace = "Nequeo.Net.OAuth2";#>
<# string TypeName = "AuthClient";#>
<#@ include file="_AsyncExecuteTypeGeneric.include" #>