<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<# string Namespace = "Nequeo.Net.ActiveDirectory";#>
<# string TypeName = "LocalDirectoryClient";#>
<#@ include file="_AsyncExecuteTypeGeneric.include" #>