<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nequeo.Aws.Storage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nequeo.Aws.Storage.Properties.Settings>
            <setting name="AwsDynamoDBServiceUrl" serializeAs="String">
                <value>https://dynamodb.ap-southeast-2.amazonaws.com/</value>
            </setting>
            <setting name="AwsSimpleDBServiceUrl" serializeAs="String">
                <value>https://sdb.ap-southeast-2.amazonaws.com/</value>
            </setting>
            <setting name="AwsDynamoDBRegionEndPoint" serializeAs="String">
                <value>ap-southeast-2</value>
            </setting>
            <setting name="AwsSimpleDBRegionEndPoint" serializeAs="String">
                <value>ap-southeast-2</value>
            </setting>
            <setting name="AwsS3ServiceUrl" serializeAs="String">
                <value>https://s3.ap-southeast-2.amazonaws.com/</value>
            </setting>
            <setting name="AwsS3RegionEndPoint" serializeAs="String">
                <value>ap-southeast-2</value>
            </setting>
        </Nequeo.Aws.Storage.Properties.Settings>
    </userSettings>
</configuration>