<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<# string Namespace = "Nequeo.Net.Ftp";#>
<# string TypeName = "FTPSocket";#>
<#@ include file="_AsyncExecuteTypeGeneric.include" #>