<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" 
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nequeo.Drawing.Pdf.Properties.Settings" 
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
                     requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Nequeo.Drawing.Pdf.Properties.Settings>
            <setting name="ConversionType" serializeAs="String">
                <value>Jpeg</value>
            </setting>
            <setting name="PdfDocumentPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="PdfDocumentProfile" serializeAs="String">
                <value>PdfA</value>
            </setting>
            <setting name="PdfDocumentQualityFactor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PdfDocumentBitPerPixel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DocumentUnlockKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="ImageDocumentPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="LeadToolResPath" serializeAs="String">
                <value/>
            </setting>
        </Nequeo.Drawing.Pdf.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
