<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<# string CompanyNamespace = "Nequeo";#>
<# string DatabaseName = "NequeoCompany";#>
<# string TypeNameSpace = "Company";#>
<# string TypeName = "Company";#>
<# string DataTypeName = "Company";#>
<#@ include file="_EdmExtenderGeneric.include" #>