<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <!-- Retrieve these values using the "Keys" blade your DocumentDB account in the Azure Mngt Portal (portal.azure.com) -->
      <add key="serviceEndpoint" value="" />
      <add key="authKey" value="" />
   </appSettings>
</configuration>