<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="NequeoHandlerGroup">
            <section name="BaseTypeHandlerDefaultSection" type="Nequeo.Handler.Configuration.BaseTypeHandlerDefaultSection, Nequeo.Handler, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=17ce537f814a362f" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>

        <sectionGroup name="ServiceHostExtensionGroup">
            <section name="ServiceHostExtensions" type="Nequeo.Net.ServiceModel.Configuration.ServiceHostExtensions, Nequeo.Net.ServiceModel, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=24770b6a676fdab1" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
    </configSections>

    <NequeoHandlerGroup>
        <BaseTypeHandlerDefaultSection>
            <Extension>
                <add name="EmployeeErrorBehavior" assemblyName="Nequeo.Service.NequeoCompany" typeName="Nequeo.Service.NequeoCompany.Employee, Nequeo.Service.NequeoCompany" typeMemberName="GetEmployee" writeTo="EventLog" logType="Error"/>
                <add name="CustomerErrorBehavior" assemblyName="Nequeo.Service.NequeoCompany" typeName="Nequeo.Service.NequeoCompany.Customer, Nequeo.Service.NequeoCompany" typeMemberName="GetCustomer" writeTo="EventLog" logType="Error"/>
            </Extension>
        </BaseTypeHandlerDefaultSection>
    </NequeoHandlerGroup>

    <ServiceHostExtensionGroup>
        <ServiceHostExtensions>
            <Extension>
                <add name="EmployeeServiceHost" serviceTypeName="Nequeo.Service.NequeoCompany.Employee, Nequeo.Service.NequeoCompany" baseAddressIndex="0"/>
                <add name="CustomerServiceHost" serviceTypeName="Nequeo.Service.NequeoCompany.Customer, Nequeo.Service.NequeoCompany" baseAddressIndex="0"/>
            </Extension>
        </ServiceHostExtensions>
    </ServiceHostExtensionGroup>

    <connectionStrings>
        <add name="Nequeo.DataAccess.NequeoCompany.Properties.Settings.NequeoCompanyDatabaseConnection" connectionString="Data Source=development\sqlexpress;Initial Catalog=Nequeo;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="NequeoCompanyEntities" connectionString="metadata=res://*/Edm.Complete.csdl|res://*/Edm.Complete.ssdl|res://*/Edm.Complete.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVELOPMENT\SQLEXPRESS;initial catalog=Nequeo;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    </connectionStrings>

    <system.web>
        <compilation debug="true"/>
    </system.web>
    <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
    <system.serviceModel>
        <services>
            <service behaviorConfiguration="Nequeo.Service.NequeoCompany.EmployeeBehavior" name="Nequeo.Service.NequeoCompany.Employee">
                <endpoint address="" binding="wsHttpBinding" contract="Nequeo.Service.NequeoCompany.IEmployee">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/Nequeo.Service.NequeoCompany/Employee/"/>
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="Nequeo.Service.NequeoCompany.CustomerBehavior" name="Nequeo.Service.NequeoCompany.Customer">
                <endpoint address="" binding="wsHttpBinding" contract="Nequeo.Service.NequeoCompany.ICustomer">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/Nequeo.Service.NequeoCompany/Customer/"/>
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="Nequeo.Service.NequeoCompany.CompanyBehavior" name="Nequeo.Service.NequeoCompany.Company">
                <endpoint address="" binding="wsHttpBinding" contract="Nequeo.Service.NequeoCompany.ICompany">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/Nequeo.Service.NequeoCompany/Company/"/>
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="Nequeo.Service.NequeoCompany.AccountBehavior" name="Nequeo.Service.NequeoCompany.Account">
                <endpoint address="" binding="wsHttpBinding" contract="Nequeo.Service.NequeoCompany.IAccount">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/Nequeo.Service.NequeoCompany/Account/"/>
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="Nequeo.Service.NequeoCompany.AssetBehavior" name="Nequeo.Service.NequeoCompany.Asset">
                <endpoint address="" binding="wsHttpBinding" contract="Nequeo.Service.NequeoCompany.IAsset">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/Nequeo.Service.NequeoCompany/Asset/"/>
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="Nequeo.Service.NequeoCompany.ProductBehavior" name="Nequeo.Service.NequeoCompany.Product">
                <endpoint address="" binding="wsHttpBinding" contract="Nequeo.Service.NequeoCompany.IProduct">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/Nequeo.Service.NequeoCompany/Product/"/>
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="Nequeo.Service.NequeoCompany.VendorBehavior" name="Nequeo.Service.NequeoCompany.Vendor">
                <endpoint address="" binding="wsHttpBinding" contract="Nequeo.Service.NequeoCompany.IVendor">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/Nequeo.Service.NequeoCompany/Vendor/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Nequeo.Service.NequeoCompany.EmployeeBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
                <behavior name="Nequeo.Service.NequeoCompany.CustomerBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
                <behavior name="Nequeo.Service.NequeoCompany.CompanyBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
                <behavior name="Nequeo.Service.NequeoCompany.AccountBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
                <behavior name="Nequeo.Service.NequeoCompany.AssetBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
                <behavior name="Nequeo.Service.NequeoCompany.ProductBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
                <behavior name="Nequeo.Service.NequeoCompany.VendorBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
