<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="NequeoMediaGroup">

            <section name="MediaSection" type="Nequeo.Media.Configuration.MediaSection, Nequeo.Media, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=d0404a8fed290f0f" allowLocation="true" allowDefinition="Everywhere"/>

        </sectionGroup>
    </configSections>

    <NequeoMediaGroup>
        <MediaSection>
            <Video useDefault="true" frameRate="30.0" frameSizeWidth="640" frameSizeHeight="480"/>
            <Audio useDefault="true" channels="2" samplingRate="44100" sampleSize="16"/>
        </MediaSection>
    </NequeoMediaGroup>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
