<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nequeo.Net.Maps.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nequeo.Net.Maps.Properties.Settings>
            <setting name="GoogleMapsTimeZoneServiceURI" serializeAs="String">
                <value>https://maps.googleapis.com/maps/api/timezone/</value>
            </setting>
            <setting name="GoogleMapsGeocodeServiceURI" serializeAs="String">
                <value>https://maps.googleapis.com/maps/api/geocode/</value>
            </setting>
            <setting name="MicrosoftMapsGeocodeServiceURI" serializeAs="String">
                <value>https://dev.virtualearth.net/REST/v1/Locations/</value>
            </setting>
            <setting name="GoogleMapsStaticServiceURI" serializeAs="String">
                <value>https://maps.googleapis.com/maps/api/staticmap/</value>
            </setting>
            <setting name="MicrosoftMapsStaticServiceURI" serializeAs="String">
                <value>https://dev.virtualearth.net/REST/v1/Imagery/Map/</value>
            </setting>
        </Nequeo.Net.Maps.Properties.Settings>
    </userSettings>
</configuration>