<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<# string CompanyNamespace = "Nequeo";#>
<# string DatabaseName = "NequeoCompany";#>
<# string TypeNameSpace = "Account";#>
<# string TypeName = "Account";#>
<# string ParentTypeName = "Accounts";#>
<#@ include file="_ExtenderGeneric.include" #>