<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<# string CompanyNamespace = "Nequeo";#>
<# string DatabaseName = "NequeoCompany";#>
<# string TypeNameSpace = "Company";#>
<# string TypeName = "Company";#>
<# string ParentTypeName = "Companies";#>
<#@ include file="_ExtenderGeneric.include" #>