<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<# string CompanyNamespace = "Nequeo";#>
<# string DatabaseName = "NequeoCompany";#>
<# string TypeNameSpace = "Customer";#>
<# string TypeName = "Customer";#>
<# string ParentTypeName = "Customers";#>
<#@ include file="_ExtenderGeneric.include" #>