<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<# string CompanyNamespace = "Nequeo";#>
<# string DatabaseName = "NequeoCompany";#>
<# string TypeNameSpace = "Vendor";#>
<# string TypeName = "ExpenseType";#>
<# string DataTypeName = "ExpenseType";#>
<#@ include file="_DataExtenderGeneric.include" #>