<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<# string CompanyNamespace = "Nequeo";#>
<# string DatabaseName = "NequeoCompany";#>
<# string TypeNameSpace = "Customer";#>
<# string TypeName = "GstIncomeType";#>
<# string DataTypeName = "GstIncomeType";#>
<#@ include file="_DataExtenderGeneric.include" #>