<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<# string CompanyNamespace = "Nequeo";#>
<# string DatabaseName = "NequeoCompany";#>
<# string TypeNameSpace = "Employee";#>
<# string TypeName = "EmployeeBankAccount";#>
<# string DataTypeName = "EmployeeBankAccounts";#>
<#@ include file="_DataExtenderGeneric.include" #>