<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<# string CompanyNamespace = "Nequeo";#>
<# string DatabaseName = "NequeoCompany";#>
<# string TypeNameSpace = "Company";#>
<# string TypeName = "PAYGInstalment";#>
<# string DataTypeName = "CompanyPAYGInstalment";#>
<#@ include file="_DataExtenderGeneric.include" #>