<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<# string CompanyNamespace = "Nequeo";#>
<# string DatabaseName = "NequeoCompany";#>
<# string TypeNameSpace = "Account";#>
<# string TypeName = "PaymentType";#>
<# string DataTypeName = "PaymentType";#>
<#@ include file="_DataExtenderGeneric.include" #>