<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<# string CompanyNamespace = "Nequeo";#>
<# string DatabaseName = "NequeoCompany";#>
<# string TypeNameSpace = "User";#>
<# string TypeName = "UserType";#>
<# string DataTypeName = "UserType";#>
<#@ include file="_DataExtenderGeneric.include" #>