<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nequeo.Net.Http.PostBackService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Nequeo.Net.Http.PostBackService.Properties.Settings>
            <setting name="BaseDownloadPath" serializeAs="String">
                <value>C:\Temp\</value>
            </setting>
            <setting name="MaxBaseUploadContentSize" serializeAs="String">
                <value>10000000</value>
            </setting>
            <setting name="NotesFormServiceBasePath" serializeAs="String">
                <value>C:\NotesFormService\</value>
            </setting>
            <setting name="EventApplicationName" serializeAs="String">
                <value>Nequeo Http Server</value>
            </setting>
        </Nequeo.Net.Http.PostBackService.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
