<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nequeo.Net.Translator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nequeo.Net.Translator.Properties.Settings>
            <setting name="MicrosoftTranslatorServiceURI" serializeAs="String">
                <value>https://api.datamarket.azure.com/Bing/MicrosoftTranslator/</value>
            </setting>
            <setting name="GoogleTranslatorServiceURI" serializeAs="String">
                <value>https://www.googleapis.com/language/translate/v2/</value>
            </setting>
        </Nequeo.Net.Translator.Properties.Settings>
    </userSettings>
</configuration>