<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<# string CompanyNamespace = "Nequeo";#>
<# string DatabaseName = "ApplicationLogin";#>
<# string EntityTableName = "Country";#>
<# string ReferenceNamespace = "Nequeo";#>
<# string DataAccessProvider = "Nequeo.Data.SqlServer.DataAccess";#>
<#@ include file="_DataExtensionGeneric.include" #>