<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nequeo.Conversion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Nequeo.Conversion.Properties.Settings>
            <setting name="OneRowPerXmlFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputXmlPath" serializeAs="String">
                <value>C:\Temp\Data\Output.xml</value>
            </setting>
            <setting name="DateTimeDataFormat" serializeAs="String">
                <value>ddMMyy</value>
            </setting>
            <setting name="ArchivePath" serializeAs="String">
                <value>C:\Temp\Data\Archive\</value>
            </setting>
            <setting name="ReadType" serializeAs="String">
                <value>Nequeo.Model.Conversion.TransformXmlModel,Nequeo.Model</value>
            </setting>
            <setting name="LengthOfTimeToKeepArchiveFiles" serializeAs="String">
                <value>100</value>
            </setting>
        </Nequeo.Conversion.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
