<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="CompositeGroup">
            <section name="CompositeServices" 
                     type="Nequeo.Composite.Configuration.CompositeServices, Nequeo.Composite, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=6ee3a0564e92e352" 
                     allowLocation="true" 
                     allowDefinition="Everywhere"/>
        </sectionGroup>
    </configSections>

    <CompositeGroup>
        <CompositeServices>
            <ServiceDirectoryCatalog>
                <add name="SystemInformation" path="C:\SystemInformation\" searchPattern="*.dll"/>
                <add name="SystemDetails" path="C:\SystemDetails\" searchPattern="*.dll"/>
            </ServiceDirectoryCatalog>
            <ServiceTypeCatalog>
                <add name="SystemInformation" type="Type, Assembly, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=null"/>
                <add name="SystemDetails" type="Type, Assembly, Version=2016.26.1.1, Culture=neutral, PublicKeyToken=null"/>
            </ServiceTypeCatalog>
        </CompositeServices>
    </CompositeGroup>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
