<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nequeo.Net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Nequeo.Net.Properties.Settings>
            <setting name="TransferClientMaxReceivedMessageSize" serializeAs="String">
                <value>67108864</value>
            </setting>
            <setting name="TransferClientByteMaxReceivedMessageSize" serializeAs="String">
                <value>67108864</value>
            </setting>
            <setting name="MessageClientMaxReceivedMessageSize" serializeAs="String">
                <value>67108864</value>
            </setting>
            <setting name="TransferClientBaseAddress" serializeAs="String">
                <value>net.tcp://wcf.nequeo.net.au:8713/ServiceTransfer/Stream/secureBasicWcf</value>
            </setting>
            <setting name="TransferClientByteBaseAddress" serializeAs="String">
                <value>net.tcp://wcf.nequeo.net.au:8718/ServiceTransfer/ByteStream/secureBasicWcf</value>
            </setting>
            <setting name="TransferHandlerBaseAddress" serializeAs="String">
                <value>https://wcf.nequeo.net.au/transfer/Stream/StreamHandler.ashx</value>
            </setting>
            <setting name="TransferQueryHandlerBaseAddress" serializeAs="String">
                <value>https://wcf.nequeo.net.au/transfer/Stream/StreamQueryHandler.ashx</value>
            </setting>
            <setting name="MessageClientBaseAddress" serializeAs="String">
                <value>net.tcp://wcf.nequeo.net.au:8723/ServiceMessage/Stream/secureBasicWcf</value>
            </setting>
        </Nequeo.Net.Properties.Settings>
    </applicationSettings>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStream" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="524288" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IByteStream" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="524288" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IStream1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="524288" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IStream" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="67108864" maxConnections="10" maxReceivedMessageSize="67108864">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
                    <security mode="Transport">
                        <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
                        <message clientCredentialType="Windows"/>
                    </security>
                </binding>
                <binding name="NetTcpBinding_IByteStream" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="67108864" maxConnections="10" maxReceivedMessageSize="67108864">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
                    <security mode="Transport">
                        <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
                        <message clientCredentialType="Windows"/>
                    </security>
                </binding>
                <binding name="NetTcpBinding_IStream1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="67108864" maxConnections="10" maxReceivedMessageSize="67108864">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
                    <security mode="Transport">
                        <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
                        <message clientCredentialType="Windows"/>
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="CustomBinding_IStream" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"/>
                    </security>
                </binding>
                <binding name="CustomBinding_IByteStream" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"/>
                    </security>
                </binding>
                <binding name="CustomBinding_IStream1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"/>
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://nequeompc:8711/ServiceTransfer/Stream/basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStream" contract="TransferStream.IStream" name="BasicHttpBinding_IStream"/>
            <endpoint address="http://wcf.nequeo.net.au:8712/ServiceTransfer/Stream/basicWcf" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStream" contract="TransferStream.IStream" name="BasicHttpBinding_IStream1"/>
            <endpoint address="net.tcp://wcf.nequeo.net.au:8713/ServiceTransfer/Stream/secureBasicWcf" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IStream" contract="TransferStream.IStream" name="NetTcpBinding_IStream">
                <identity>
                    <dns value="wcf.nequeo.net.au"/>
                </identity>
            </endpoint>
            <endpoint address="http://nequeompc:8714/ServiceTransfer/Stream/basicEp1" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStream" contract="TransferStream.IStream" name="BasicHttpBinding_IStream2"/>
            <endpoint address="http://nequeompc:8715/ServiceTransfer/Stream/customEp2" binding="wsHttpBinding" bindingConfiguration="CustomBinding_IStream" contract="TransferStream.IStream" name="CustomBinding_IStream">
                <identity>
                    <dns value="nequeompc"/>
                </identity>
            </endpoint>
            <endpoint address="http://nequeompc:8716/ServiceTransfer/ByteStream/basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IByteStream" contract="TransferByteStream.IByteStream" name="BasicHttpBinding_IByteStream"/>
            <endpoint address="http://wcf.nequeo.net.au:8717/ServiceTransfer/ByteStream/basicWcf" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IByteStream" contract="TransferByteStream.IByteStream" name="BasicHttpBinding_IByteStream1"/>
            <endpoint address="net.tcp://wcf.nequeo.net.au:8718/ServiceTransfer/ByteStream/secureBasicWcf" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IByteStream" contract="TransferByteStream.IByteStream" name="NetTcpBinding_IByteStream">
                <identity>
                    <dns value="wcf.nequeo.net.au"/>
                </identity>
            </endpoint>
            <endpoint address="http://nequeompc:8719/ServiceTransfer/ByteStream/basicEp1" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IByteStream" contract="TransferByteStream.IByteStream" name="BasicHttpBinding_IByteStream2"/>
            <endpoint address="http://nequeompc:8720/ServiceTransfer/ByteStream/customEp2" binding="wsHttpBinding" bindingConfiguration="CustomBinding_IByteStream" contract="TransferByteStream.IByteStream" name="CustomBinding_IByteStream">
                <identity>
                    <dns value="nequeompc"/>
                </identity>
            </endpoint>
            <endpoint address="http://nequeompc:8721/ServiceMessage/Stream/basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStream1" contract="MessageStream.IStream" name="BasicHttpBinding_IStream3"/>
            <endpoint address="http://wcf.nequeo.net.au:8722/ServiceMessage/Stream/basicWcf" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStream1" contract="MessageStream.IStream" name="BasicHttpBinding_IStream11"/>
            <endpoint address="net.tcp://wcf.nequeo.net.au:8723/ServiceMessage/Stream/secureBasicWcf" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IStream1" contract="MessageStream.IStream" name="NetTcpBinding_IStream1">
                <identity>
                    <dns value="wcf.nequeo.net.au"/>
                </identity>
            </endpoint>
            <endpoint address="http://nequeompc:8724/ServiceMessage/Stream/basicEp1" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStream1" contract="MessageStream.IStream" name="BasicHttpBinding_IStream21"/>
            <endpoint address="http://nequeompc:8725/ServiceMessage/Stream/customEp2" binding="wsHttpBinding" bindingConfiguration="CustomBinding_IStream1" contract="MessageStream.IStream" name="CustomBinding_IStream1">
                <identity>
                    <dns value="nequeompc"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
