<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="ProxyImap4ServerGroup">
      <section name="ProxyImap4ServerDefaultHost" type="Nequeo.Net.Configuration.ProxyImap4ServerDefaultHost, Nequeo.Imap4.Proxy.Server, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=f044822c9072e67c" allowLocation="true" allowDefinition="Everywhere"/>

      <section name="ProxyImap4ServerHosts" type="Nequeo.Net.Configuration.ProxyImap4ServerHosts, Nequeo.Imap4.Proxy.Server, Version=2014.26.1.1, Culture=neutral, PublicKeyToken=f044822c9072e67c" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <!-- Configuration section settings area. clientTimeOut is in minutes. -->
  <ProxyImap4ServerGroup>
    <ProxyImap4ServerDefaultHost hostName="Imap4ListenServer">
      <Host name="Imap4ListenServer" host="nequeo" port="143" maxNumClients="30" clientTimeOut="30"/>
      <ServerCredentials useCertificateStore="false">
        <CertificatePath path="C:\Temp\ProxyImap4SslNetAu.p12" password="password"/>
        <CertificateStore findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
      </ServerCredentials>
    </ProxyImap4ServerDefaultHost>
    <ProxyImap4ServerHosts>
      <Host>
        <add name="Imap4ListenServer" host="nequeompc" port="143" maxNumClients="30" clientTimeOut="30"/>
        <add name="Imap4ListenServer1" host="nequeompc" port="143" maxNumClients="30" clientTimeOut="30"/>
        <add name="Imap4ListenServer2" host="nequeompc" port="143" maxNumClients="30" clientTimeOut="30"/>
        <add name="Imap4ListenServer3" host="nequeompc" port="143" maxNumClients="30" clientTimeOut="30"/>
        <add name="Imap4TlsListenServer4" host="nequeompc" port="143" maxNumClients="30" clientTimeOut="30"/>
        <add name="Imap4TlsListenServer5" host="nequeompc" port="143" maxNumClients="30" clientTimeOut="30"/>
        <add name="Imap4TlsListenServer6" host="nequeompc" port="143" maxNumClients="30" clientTimeOut="30"/>
        <add name="Imap4TlsListenServer7" host="nequeompc" port="143" maxNumClients="30" clientTimeOut="30"/>
        <add name="SslProxyNequeoNet1" host="nequeo.net.au" port="993" maxNumClients="30" clientTimeOut="30"/>
        <add name="SslProxyNequeoNet2" host="nequeo.net.au" port="9937" maxNumClients="30" clientTimeOut="30"/>
        <add name="SslProxyNequeoNet3" host="nequeo.net.au" port="9938" maxNumClients="30" clientTimeOut="30"/>
        <add name="SslProxyNequeoNet4" host="nequeo.net.au" port="9939" maxNumClients="30" clientTimeOut="30"/>
        <add name="TlsProxyNequeoNet5" host="nequeo.net.au" port="9931" maxNumClients="30" clientTimeOut="30"/>
        <add name="TlsProxyNequeoNet6" host="nequeo.net.au" port="9932" maxNumClients="30" clientTimeOut="30"/>
        <add name="TlsProxyNequeoNet7" host="nequeo.net.au" port="9933" maxNumClients="30" clientTimeOut="30"/>
        <add name="TlsProxyNequeoNet8" host="nequeo.net.au" port="9934" maxNumClients="30" clientTimeOut="30"/>
      </Host>
    </ProxyImap4ServerHosts>
  </ProxyImap4ServerGroup>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
